[2018-08-14 09:47] bbqsrc opened #5 "Regression with unimplemented!() and skip!()"
Expected behaviour is that unimplemented!() anywhere will trigger a failure, and fail!() will trigger a skipped. It is currently inverted. I had fixed this at one point but somehow it is no longer working.

[2018-09-17 13:55] ami44 opened #6 "Comment - Parsing feature failed"
Hello,

I have this error when last line in feature is commented (without \n after ``# When something goes wrong``)

[code]

then ``cargo +nightly test`` display

[code]

No error if \n after ``# When something goes wrong``

Ami44

[2018-09-17 18:56] bbqsrc commented on #6
Fixed in the `gherkin-rust` dependency. Thanks!

It should update automatically, otherwise `cargo update` should pick it up.

[2018-09-17 18:56] #6 closed

[2018-09-21 05:19] bhase opened #7 "Compilation error with stable"
Hi,
I am new to Rust and wanted to start with cucumber-rust. I installed rustc and cargo etc. with rustup, that worked fine.
I added then cucumber-rust to my Cargo.toml as described in the Readme and created the files with contents like in Readme, but then it no longer works as expected. When trying to run 'cargo test' it gives the following compiler error:

[code]
I think this is the same error a

[2018-09-21 06:00] bbqsrc commented on #7
Hello!

If you want to use `cucumber-rust` with stable, you have to add this to your Cargo.toml:

`cucumber_rust = { version = "0.4.0", default-features = false }`

By default it will attempt to use some internal features to the Rust compiler to capture the stdout and stderr, which are not likely to have alternatives until first-class test framework support is added.

It is a bit strange the error

[2018-09-21 06:19] bhase commented on #7
Hello,

Thank you for the hint. I added the mentioned line to Cargo.toml, now I get the other failure.

As I am in the office, I need to show you my cucmber.rs later, sorry. But it really looks like there is something wrong with my file.

[2018-09-21 14:28] bhase commented on #7
Ok, I am online again :-) The contents of my cucumber.rs (tests/cucumber.rs):
[code]

[2018-09-21 14:30] bhase commented on #7
Runnig `cargo +nightly test -v' gave the rustc command, where I could add the -Z option:

[code]

Maybe this is helpful for you?

[2018-09-21 14:37] bbqsrc commented on #7
Mm, there's some kind of regression in the example in the README. Hold tight, gonna fix it. :)

[2018-09-21 14:52] bbqsrc commented on #7
Okay, it should be fixed now in 0.4.1, which has been published to crates.io, as well as typos in the README fixed. So copy and paste what's there and tell me how you go. :smile:

[2018-09-21 19:10] bhase commented on #7
Great, the updated cucumber.rs is now working for me - thank you!
What I am still missing is the update in README.md to Cargo.toml for usage with stable:

[code]

[2018-09-28 04:17] bhase opened #8 "Feature path with sub-directories"
Hello,
currently a feature path containing more than .feature files is not handled correctly, both sub-directories and files with other content than gherkin provoke a failure in the test run.

I noticed this when trying to adept to cucumber conventions, i.e. having a folder 'step_definitions' below 'features' containing rust files with the steps. IMHO it would be good to travel sub-directories whi

[2018-09-28 09:50] bbqsrc commented on #8
Yes, that seems like the right spot. You may want to use the [glob](https://github.com/rust-lang-nursery/glob) crate to simplify your solution if you want to take a crack at it. :smile:

[2018-09-28 12:44] bhase commented on #8
Great, I will give it a try. Thank you for the hint to glob!

[2018-09-29 16:06] bbqsrc commented on #8
Implemented using `globwalk` because `glob` is basically deprecated.

[2018-09-29 16:06] #8 closed

[2018-09-29 16:47] #5 closed

[2018-10-19 15:57] mcandre opened #9 "Separate Cucumber tests from unit tests"
Could we separate Cucumber tests from unit tests?

Perhaps declare a `cargo cucumber` subcommand, so that slow and externally-dependent integration tests can be excluded from the typical `cargo test` flow.

[2018-10-19 16:33] bbqsrc commented on #9
hey!

Did you try `#[ignore]` above the `cucumber!` macro?

[2019-01-16 08:43] vandenoever opened #11 "test reuse / parameterized tests"
Is it possible to run the same tests on different `Trait` implementations? The implementations of the Trait should behave the same and would have the same feature file text.
The `Trait` implementations would presumably be instantiated in separate setup functions. What would be a concise way of writing the feature files and tests in such a scenario?

[2019-04-14 19:55] jakob-ledermann opened #12 "Provide Examples for use of data tables"
I miss example step definitions which show the use of data tables.
`    Then The index contains the search words
    |search word|
    |hello      |
    |world      |
`
I was lost on how to implement the step definition for a while.

[2019-04-17 20:14] #12 closed

[2019-04-25 21:23] jakob-ledermann commented on #11
I tried to get your described use case running.
As a sample I used the following trait:
`
pub trait Sorter {
    fn sort(&self, source: &[i64]) -> Box<[i64]>;
}`

I wanted to reuse the following definitions:
* the feature-file
* the step definitions
* the world definition

So I needed to store my tested implementation inside the struct MyWorld. As I do not know which implementation should be teste

[2019-06-13 09:54] projektir opened #26 "Example in README doesn't compile"
Trying to add `cucumber-rust` to a new project. Rust version:
[code]

Added the changes to `Cargo.toml`, the `tests` directory, the `features` directory, at project root, as in the example. `cucumber.rs` was copied verbatim from the README, but to make sure: [cucumber.rs](https://gist.github.com/projektir/6263f95d3d288793e399df38dba04b1d)

When running `cargo test`, observing the following error:

[2019-06-13 09:59] adam-rhebo commented on #26
@projektir I think you are building your example using Rust edition 2018 but the examples are meant for edition 2015. Try using `crate::MyWorld` as the compiler suggests.

@bbqsrc Maybe we want to bump the examples to Rust edition 2018 as this is the default when running `cargo init` by now?

[2019-06-13 10:13] projektir commented on #26
Oh, that looks to be it! I changed the `::MyWorld` instances to `crate::MyWorld` and it compiles now. I thought about editions before but I'm not very familiar with the differences between them, and `cucumber-rust` itself is on 2018 so I thought I was safe. :satisfied:

Note: the issue with nightly still persists. Perhaps the tip about disabling default features should be added back in?

[2019-06-13 10:21] adam-rhebo commented on #26
The version on `master` here does not require the unstable features anymore. So I guess we should create a release so that the README matches the code that is shipped via crates.io...

[2019-06-13 14:01] bbqsrc commented on #26
I'll put out a new release tonight. 👍

[2019-06-18 13:24] bbqsrc commented on #26
New version is up now. :smile:

[2019-06-18 13:24] #26 closed

[2019-07-20 12:29] bbqsrc opened #30 "Wishlist"
- [x] Add builders to supplement the `cucumber!` and `steps!` macros
- [x] Support asychronous tests
- [ ] Review handling and ergonomics of data tables

[2019-07-27 00:56] #11 closed

[2019-10-20 19:36] pcn opened #34 "A capturing regex in the "Then" portion of a test is breaking the macro somehow."
Hi, I'm doing the basics of a book called `The Ray Tracer Challenge` and trying to understand a bit more about rust using it. It defines its stages in Gherkin tests, so I've started learning a bit more about rusts' features by trying to implement it in rust. I'm only starting out, but I've got a strange issue.

In this line: https://github.com/pcn/trtc/blob/rustlang/use-add-trait/rust/trtc/tests/t

[2019-10-20 19:45] bbqsrc commented on #34
I'll have a look at this now.

[2019-10-20 19:46] bbqsrc commented on #34
Change `then` to `then regex` on that line. 😉

[2019-10-20 19:47] bbqsrc commented on #34
In a future version of this macro, it will be replaced with a procedural macro that will give actually useful advice instead of that uh... mess.

[2019-10-21 00:52] pcn commented on #34
Huh, looks like I outsmarted myself trying to figure this out. Thanks!

[2019-10-21 00:52] #34 closed

[2020-01-01 05:27] brycefisher opened #38 "Feature: `cucumber! { teardown: fn(...) }` to mirror `setup: fn(...)`"
I'd like to use this library to start docker containers using the `setup` fn and then destroy those same containers after the cucumber test run finishes. I couldn't see a `teardown` in the `cucumber` macro on docs.rs. It would be super handy to use a `teardown` to cleanup resources created in `setup.`

[2020-01-03 07:05] brycefisher opened #39 "Bug: Setup executes 2x"
For me, the `setup()` fn always runs twice in a row at the beginning of my test run. I've made as minimal a reproduction case as possible in this repo:
https://github.com/brycefisher/cucumber-rust-issue-39

![](https://github.com/brycefisher/cucumber-rust-issue-39/blob/master/repro.svg)

Steps to reproduce:
 1. git clone https://github.com/brycefisher/cucumber-rust-issue-39
 2. Using rust 1.40, ex

[2020-01-03 12:16] #39 closed

[2020-01-03 12:25] bbqsrc commented on #39
Published as v0.6.4. Thanks!

[2020-01-03 15:04] brycefisher commented on #39
Can confirm this resolved the issue for me! Thank you.

[2020-01-05 21:11] humb1t commented on #30
Hi @bbqsrc, can you tell me about support for asynchronous tests?
I'm trying to work with tokio runtime from `steps`, but it seemed that it's unavailable from them:
[code]

[2020-01-05 21:14] bbqsrc commented on #30
Async only exists in my [WIP branch](https://github.com/bbqsrc/cucumber-rust/pull/32). It's not up-to-date since futures 0.3 was released, and predates tokio 0.2 as well.

Right now I'm kind of just waiting for the dust to settle a bit more around how to handle executors and all that garbage, so unless someone else wants to work on that WIP branch themselves and experiment, it's going to be a few

[2020-01-05 21:20] humb1t commented on #30
@bbqsrc - thanks, I will check and try to contribute.

[2020-01-05 21:29] bbqsrc commented on #30
Feel free to ask any questions about it on that PR. Happy to help

[2020-01-05 22:25] bbqsrc commented on #38
Won't be added until after the current `cucumber!` macro is converted to a procedural macro, as the current machinations for handling all those parameter fields is a mess and needs to be stopped. 😄

[2020-01-05 22:26] bbqsrc opened #40 "Convert current `cucumber!` macro to a proc-macro"
If we want to have nice things like #38, that macro needs to be cleaned up.

[2020-01-05 22:58] brycefisher commented on #38
Gotcha!! Thanks for providing some insight. Seems totally reasonable to me

[2020-01-11 05:53] brycefisher commented on #40
Can you explain a little more about how you imagine this should work?

[2020-01-11 05:59] brycefisher opened #42 "Feature: Highlight regex capture groups in terminal output"
My favorite feature of behave, a Python port of cucumber, is the capture group highlighting. This is helpful for two reasons:

 * It helps validate complex regexes during step development
 * It informs someone viewing the output which portion of the step is dynamic and could be modified

[2020-01-12 18:53] bbqsrc commented on #42
When validating how easy this would be to add, I found that the current implementation of using `Examples:` sections actually didn't do what the user would expect, so has been removed until it does.

It didn't actually handle the variables in the tests, so it effectively didn't do anything but print skipped for them all.

[2020-01-17 15:05] schmijos opened #43 "Too many open files"
I'm trying to run the default setup from the README with the following test set: https://pragprog.com/titles/jbtracer/source_code

On my Macbook (beta-x86_64-apple-darwin, rustc 1.41.0-beta.2 (965ce16f7 2020-01-14)) with **cucumber_rust 0.6.4** this fails with the following message at scenario number 125:

[code]

Is this test set too big for Cucumber Rust?

[2020-01-17 15:34] bbqsrc commented on #43
Do you have a github repository that I can use to reproduce this?

[2020-01-17 16:14] schmijos commented on #43
Here's the example: https://github.com/schmijos/cucumber-rust-reprod
It fails when running `cargo test`

[2020-01-17 16:19] bbqsrc commented on #43
Thanks! I'll try to find time over the weekend.

On Fri, 17 Jan 2020, 17:14 Josua Schmid, <notifications@github.com> wrote:

[2020-01-18 11:08] bbqsrc commented on #43
@schmijos run `cargo test -- --nocapture` and the bug doesn't manifest.

The issue is in the crate `shh`. It wraps stdout and stderr to capture messages from panics. It currently isn't closing the duplicated fds for stdout and stderr.

I've fixed it in a fork (https://github.com/bbqsrc/shh) but when testing against my develop branch with async support I found that it breaks the progress bar!

Hope

[2020-01-20 12:46] bbqsrc commented on #43
Okay I've pushed v0.6.5 @schmijos, try it and let me know if it solves your issues! :smile:

[2020-01-21 21:26] schmijos commented on #43
Very nice, it works like a charm!

[code]

Thank you very much!

[2020-01-21 21:26] #43 closed

[2020-02-06 19:45] jcholder-thoughtworks opened #44 ""Given" step randomly fails to run"
Howdy! I have an issue where a limited set of my `Given` steps randomly fail to run.

I verified this by tossing a `panic!` into one such step then watching the step fail on some runs and pass on others despite no other code changes between those runs.

The step in question:

[code]

`world` is the `MyWorld` from the example code, just expanded.

Any idea what could make things fail non-determinis

[2020-02-06 19:48] bbqsrc commented on #44
Do you have a repo I can use to reproduce this?

[2020-02-06 19:55] jcholder-thoughtworks commented on #44
@bbqsrc Here you go: https://github.com/jcholder-thoughtworks/ray_tracer_challenge.

[2020-02-06 20:05] bbqsrc commented on #44
Thanks! Can confirm the bug is happening, super weird. Will look into this, give me a few days.

[2020-02-06 20:20] jcholder-thoughtworks commented on #44
Much appreciated!

[2020-02-07 10:38] bbqsrc commented on #44
Turns it's not a bug per se, just how you've implemented your regular expressions.

The hash map is keyed by the regular expressions, which is ordered by hash and will differ between runs. Correctly written regularly expressions will make this order not matter.

`Given transform ← scaling(-1, 1, 1)` is picked up by either `m ← scaling\((.*), (.*), (.*)\))` or `transform ← scaling\((.*), (.*), (.*)

[2020-02-07 10:46] bbqsrc commented on #44
Published a fix to the non-deterministic feeling by changing from HashMap to BTreeMap. You should still fix your regular expressions though ;D

Published as v0.6.6

[2020-02-07 10:46] #44 closed

[2020-02-07 14:55] jcholder-thoughtworks commented on #44
@bbqsrc Thanks! The Perl programmer in me is embarrassed by that oversight.

[2020-02-28 06:35] matthewkmayer opened #45 "Feature: output elapsed time for tests"
Thanks for the library, I'm exploring using it instead of other Cucumber implementations.

With the Ruby implementation of Cucumber, the elapsed test run time is printed at the end of the run, like so:

[code]

It'd be 💯 to see elapsed test run time printed in this library as well. 😄

[2020-02-28 11:26] bbqsrc commented on #45
I don't have time to implement this feature at the moment, but I'd be happy to accept a pull request adding it.

Slap a time in the `DefaultOutput` struct, get the current time in the `visit_start` function of the `impl OutputVisitor for DefaultOutput` and then print the final time in `visit_finish`. :smile:

[2020-05-09 20:09] sazzer opened #46 "--tag appears to be backwards"
When I'm running tests, I've noticed that there is an `--tag` command line option with the help text:
[code]

However, when I use this it appears to run the tests *without* this tag, instead of the ones *with* it.

Specifically, I use the tag `@wip` for the tests I'm currently working on, and running both `target/debug/deps/cucumber-295c8d12068f02de --tag wip` and `target/debug/deps/cucumber-295c8

[2020-05-09 20:11] bbqsrc commented on #46
Hum. Bizarre. Will have a look.

[2020-05-09 20:15] sazzer opened #47 "Data table parsing fails if no new line at end of table"
I've just randomly noticed that having a data table - or, at least, an examples table but I assume it's the same - at the end of the file and *not* having a newline afterwards means the feature file doesn't parse.

For example:
[code]

If there's a newline at the end, that all works fine. If there's not then I get:
[code]

It's a really easy fix in the feature file, but it wasn't obvious what was

[2020-05-09 20:17] bbqsrc commented on #47
Yup, I've had nothing but trouble with the `pest` grammar and new line and EOF handling. I need to rewrite the grammar to use the `peg` crate as it's much more maintainable.

Hopefully fixed in the next release in June.

[2020-05-09 20:23] bbqsrc commented on #46
Point your dep to `git = "https://github.com/bbqsrc/cucumber-rust"` and let me know if I fixed it. You need to use `@wip`, `wip` won't be picked up.

[2020-05-09 20:37] sazzer commented on #46
Afraid not.

Using `--tag @wip` now runs everything, and using `--tag wip` still runs everything that does *not* have `@wip` on it.

[2020-05-09 20:37] sazzer commented on #46
That's with my `Cargo.toml` file saying:
[code]

[2020-05-09 20:38] bbqsrc commented on #46
Haha, what. Can you show me your feature file?

[2020-05-09 20:38] projektir opened #48 "Add keywords to crate for discoverability"
Would be nice if it could show up here, and this seems to require keywords to be set: https://lib.rs/development-tools/testing

Can `testing` be added for this crate?

[2020-05-09 20:42] bbqsrc commented on #48
Would very happily accept a pull request adding metadata to the Cargo.toml, yes. :smile:

[2020-05-09 20:43] sazzer commented on #46
Sorry - Ignore that!

Turns out my machine had gone wrong and wasn't using it after all. I've just restarted it and it *is* working correctly now :)

[2020-05-09 20:45] bbqsrc commented on #46
Haha, I'm glad. I was questioning my sanity a bit there, given there's basically just `!tags.contains(tag)`. I'll drop a patch release in a little bit.

[2020-05-09 22:19] #48 closed

[2020-05-09 22:21] bbqsrc commented on #46
Fixed in v0.6.8. 😄

[2020-05-09 22:21] #46 closed

[2020-05-11 10:29] sazzer opened #49 "Scenario Outline inserts are not parsed in Data Tables"
Given the following scenario:
[code]

The insert `<Username>` from the Examples table works correctly in the Scenario name and in the "When" step, but *not* in the "Given" step. Instead, when parsing the table, I get:
[code]

Where I would have expected:
[code]

[2020-05-17 14:05] Puciek opened #50 "Feature: xunit/junit output"
I believe that adding j/xunit output support would go a long way to streamlining the tests, as those are the formats supported by IDE's and CI tools, so it would make cucumber-rust fit in like a glove with how devs work right now, rather than relying on reading the text output.

I will probably give it a whack myself, as it's of high interest to me, but certainly, welcome any pointers and suggesti

[2020-05-17 14:16] bbqsrc commented on #50
@Puciek let me finish with the `feature/async` branch as that will fundamentally change the API for printing output.

I'll ping you once that's done, implementing your choice of output should then be much easier. :smile:

[2020-05-17 14:18] Puciek commented on #50
@bbqsrc oh, aces, will do! Got any sort of ETA? Just so I can plan accordingly :)

[2020-05-17 14:20] bbqsrc commented on #50
Yeah, within a week or so. There's no longer an output trait but instead an event handler callback function, so you basically only need to have a function that takes a single `CucumberEvent` type and you can structure your output handler however you need to.

I don't anticipate those events changing very much, so I'd be quite happy for you to have at least a look at the branch as it currently stan

[2020-05-17 14:27] Puciek commented on #50
I'll dig in! Thanks!

[2020-05-22 10:03] bbqsrc commented on #50
Hey @Puciek, just checking in. Have you made any progress? Hit any roadblocks? I'd welcome the feedback.

Also if you have any documentation about the xunit or junit output formats, I'd appreciate some links. I'm not really able to find anything so far and it's frustrating me haha

[2020-05-22 21:46] Puciek commented on #50
@bbqsrc  I will have an update for you over the weekend (this one), as I was hopelessly stuck this week, sudden surge of unexpected work :)

As for docs, xunit: https://xunit.net/docs/format-xml-v2
junit: https://llg.cubic.org/docs/junit/

There are very common across loads of technology, very much the standard for test reporting (and integrated into majority of IDEs as a result).

[2020-05-23 08:19] bbqsrc commented on #50
@Puciek no problem :smile:

On the branch `feature/async-output`, I've begun re-implementing the default output printer from the master branch using the new events. I have changed the callback to be a trait with one function so one can hold state in an object (which is going to be useful quite a bit, I suspect moreso if writing XML).

Ping me if you get stuck, I'll be around.

[2020-05-23 09:23] bbqsrc commented on #50
And now I've merged those output changes into `feature/async`. The logical place to put your xunit or junit output formats is in `src/output` and re-export the things from inside it. There's now a function on `Cucumber` called `with_handler`, which is the entry point for using another handler such as yours.

[2020-05-24 20:16] bbqsrc opened #52 "Migrate to Github Actions"
Travis is dead, long live Github Actions!

Any help would be appreciated.

[2020-05-24 20:59] bbqsrc commented on #38
Current status: I don't think we're going to need this. On the develop branch, there's an async-first implementation that has gotten rid of any "magic". With no macro, and just an ordinary builder, you can put any setup and teardown around the runner that you call yourself anyway.

[2020-05-24 20:59] #30 closed

[2020-05-24 21:00] bbqsrc commented on #40
No longer considered necessary.

[2020-05-24 21:00] #40 closed

[2020-05-24 21:00] bbqsrc commented on #45
@matthewkmayer this now exists on develop branch. :+1:

[2020-05-24 21:00] #45 closed

[2020-05-24 21:01] bbqsrc commented on #42
@brycefisher I'm currently reviewing the output of this tool, so if you had some screenshots of this behaviour it would be helpful for me. :smile:

[2020-05-24 21:02] #38 closed

[2020-05-27 08:33] Puciek commented on #50
@bbqsrc I finally got the ball rolling with it, and gotta say I love the new format you've setup for output handling, makes is a breeze (once you figure it out ha!). I should have a draft PR ready by end of this week with it, depending just how busy the last few days will be at work.

[2020-05-27 08:34] bbqsrc commented on #50
@Puciek wonderful! thanks!

[2020-05-27 18:49] brycefisher commented on #42
Hi @bbqsrc ! Sorry for the delay. Do you mean the python package `behave`? I can gladly show some screenshots if so

[2020-05-28 06:56] #52 closed

[2020-05-28 06:56] bbqsrc commented on #42
yeah, please do :)

[2020-05-28 17:27] Puciek commented on #42
I can toss in one, right of my dev station
![image](https://user-images.githubusercontent.com/133171/83173364-d565f900-a110-11ea-89e8-603c5fc47d61.png)

As you can see the parts in lighter shade of green are regexp captures

[2020-05-28 17:42] bbqsrc commented on #42
Aha! This would require some changes to some events but not inconceivable.

[2020-05-28 17:44] Puciek commented on #42
It's pretty useful when debugging with command line, less when you use integrated tools (but that's a separate ticket, as I want tests from here to work in clion damn it! :D)

[2020-06-20 11:01] pcn opened #55 "Please clarify: type of table cells"
There is an example of tables, but the example infers the type from cucumber's step, and doesn't describe whether there is any way to specify the desired type in either the test or the feature file.

[2020-07-06 17:25] pcn commented on #55
So it's defined in `gherkin-rust` as:
[code]

It'd still be helpful to have some examples of how it's best to use it, for us noobs.

[2020-07-06 17:34] bbqsrc commented on #55
Ah, sorry I didn't get to this sooner!

Indeed, documentation on things like table usage is indeed lacking at the moment, though a lot of that perhaps comes from my historical lack of confidence in its implementation. :smile:

Will put out a new release soon that is in many ways a bit more of a blank slate, with integration of first-class async support as a core deliverable, and the removal of the

[2020-07-06 17:36] bbqsrc commented on #50
Hey @Puciek, just checking in! Things still progressing?

[2020-07-06 17:37] Puciek commented on #50
@bbqsrc Yep, just mostly work is going on in the underlying library. Should be able to wrap this up soon™

[2020-07-06 17:37] bbqsrc commented on #50
I look forward to reviewing your PR soon™, 😄

[2020-07-15 16:08] pcn commented on #55
Gotcha. Looking forward the the future.

[2020-07-21 14:14] JakeDawkins opened #56 "Question: Is is possible to modify printed output?"
I have a `.feature` file which uses docstrings in steps pretty extensively. When tests run, the entire docstring is printed out alongside the step names. I'd rather not see that, since that immediately adds ~1600 lies to my test output, making it quite noisy. Is there any way to silence that?

For example:
[code]

prints this when the test is run:

[code]

[2020-07-21 14:16] bbqsrc commented on #56
Right now, no. I'll keep this open as a reminder to implement the ability to withhold printing docstrings or limit their length. 😄

[2020-07-21 14:17] JakeDawkins commented on #56
Thanks for the quick response @bbqsrc :)

[2020-07-21 14:25] eggyal opened #57 "Splitting into Gherkin parser + Pickle executor?"
Is there any intention to/interest in splitting this project into a Gherkin parser backend (that emits Pickles, as per the official project's structure) and a Pickle executor frontend such that (if so desired) the former can be swapped-out for the official shared binary?

Happy to help contribute.

[2020-07-21 14:28] bbqsrc commented on #57
The project currently has a separate crate that implements a full Gherkin parser, https://github.com/bbqsrc/gherkin-rust.

My personal interest is in using cucumber-rust and gherkin-rust only, but I have no problems with accepting a contribution which would enable gherkin-rust to be compatible with the so-called Pickle format. :smile:

Can you link to any canonical documentation on said executor a

[2020-07-21 14:55] eggyal commented on #57
Pickles are [documented in the official Cucumber project's Gherkin readme](https://github.com/cucumber/cucumber/blob/master/gherkin/README.md#pickles), with tests then orchestrated by [cucumber-engine](https://github.com/cucumber/cucumber-engine).

[2020-07-21 15:26] eggyal commented on #57
Apologies, [canonical documentation here](https://github.com/cucumber/cucumber/blob/master/messages/messages.md).

[2020-07-21 15:36] bbqsrc commented on #57
Okay, cool!

In the current develop branch, we have an event emitter for getting a stream of all the testing events, in order to implement new output formats. It is likely feasible that that could be hooked into as the response point for sending to the engine a meaningful response once converted from our format to the protobuf format.

However, insofar as _receiving_ commands from their orchestrat

[2020-07-21 15:37] bbqsrc commented on #57
If you wish to have a shot at it (or anybody else for that matter!), Protobuf in Rust is a little bit painful and not my favourite thing to say the least. However, https://github.com/danburkert/prost goes a long way to making it not painful, so I would recommend starting there if you wish to start somewhere, and make a crate that just implements the .proto types first. :smile:

[2020-07-21 16:08] eggyal commented on #57
So, I confess I'm returning to this (it having been on my "interesting projects" list for well over a year) a little bit rusty and out of date from the research I'd previously conducted.  Back then, the common Go binary approach had a (theoretical) advantage of enabling changes to be made to the Gherkin spec and implemented there potentially without any changes required elsewhere.

However, per ht

[2020-07-21 16:08] #57 closed

[2020-07-21 16:11] bbqsrc commented on #57
Ah, that's a shame. It's a little strange how their approaches keep changing. Do let us know if there's any changes there. :smile:

[2020-07-22 08:52] humb1t opened #58 "Support `test-threads` argument"
Right now if you pass `test-thread` argument to cargo test, cucumber will fail:
[code]

Command: `cargo test --workspace --verbose -- --test-threads=1`

It will be great to support this feature or at list ignore it instead of failure.

[2020-07-27 08:15] humb1t opened #59 "`after` macro depends on `before`"
If you want to use `after` macro it will complain about absence of `before` macro:
[code]

WA: add `before` to import

[2020-07-27 10:59] bbqsrc commented on #59
Mm, I really need to get the current dev branch into production. :smile:

The macro-based approach didn't evolve how I thought it would, so is largely removed in the development branch. As such, I won't be fixing this bug as the entire thing is being removed.

It is being replaced with a type-safe builder that is much more idiomatic Rust.

[2020-07-27 13:45] humb1t commented on #59
@bbqsrc hi again, it was a long time ago I touched this repo)
I was busy migrating from Java to Rust developer and now I will try to complete contribution I planned to help you with "async" branch and other stuff.

I will submit more issues, but I also will try to work on them)

[2020-07-30 19:45] bbqsrc commented on #59
Fixed in v0.6.9 published to crates.io, due to how simple it was to fix and that it's kinda  embarrassing I forgot to add `$crate::`. :smile:

I would however advise you to look at the develop branch as that macro will no longer be supported soon.

[2020-07-30 19:45] #59 closed

[2020-07-30 19:46] bbqsrc commented on #58
If anybody wishes to take on this issue, I'd be happy to mentor.

[2020-07-30 19:46] bbqsrc commented on #56
If anybody wants to take on this issue, I'd be happy to mentor!

[2020-08-18 22:06] Enrico2 opened #60 "Is it possible to run cucumber tests as unit tests?"
The main reason for us for this is that code coverage tools (e.g. [Tarpaulin](https://github.com/xd009642/tarpaulin)) cannot get coverage data from integration tests, only from unit tests. Our cucumber tests are the main source of test cases we have, which we keep adding to (we have the same code implemented in multiple languages, and share .feature files), we'd like to feed those results into cod

[2020-08-18 22:12] bbqsrc commented on #60
If by unit tests you mean with `#[test]`, then unfortunately no. Cucumber is implemented as a completely separate test harness due to limitations of, well, Rust and Cargo, at the moment.

It may be more fruitful to consider how Tarpaulin et al manage coverage testing with Rust tests that are in a `tests` directory and not part of the main codebase, because I suspect, the answer will be the same. T

[2020-08-18 23:35] Enrico2 commented on #60
Thanks, I'm working around the issue atm by writing my own shim in a `#[test]` on top of `gherkin_rust` directly. Our `.feature` files are dead-simple, so fortunately that's feasible.

But long term, I do want to figure out how to generate a coverage report from integration tests.

[2020-08-18 23:35] #60 closed

[2020-09-04 09:24] BerhorShadowbuckle opened #61 "How to extract steps into spearate files in ./steps directory"
Hi,
at first big thank you for this library, it's really great!

I'd like to extract steps into separate file(s) in ./steps directory in similar manner how features are (README mentions that it's possible), but I'm not sure how to do that. Could you please show some example (ie. based on code from README) how can I do this?

[2020-09-04 09:33] bbqsrc commented on #61
Hey @BerhorShadowbuckle!

The current released version does make doing that kind of inflexible at the moment. The version on the develop branch is async-aware and replaces the macro with a builder that should make it a bit more obvious how to go about this.

I'll try to make a release of the develop branch plus some documentation over the weekend.

[2020-09-05 02:08] ianlet commented on #61
@BerhorShadowbuckle are you trying to achieve something like that?

[code]

If so, then the following setup seems to work for me:

[code]

[code]

[code]

[code]

[2020-09-07 09:06] BerhorShadowbuckle commented on #61
@ianlet Thanks for the hint! I'll check it :)

[2020-09-07 20:06] bbqsrc opened #62 "Return a demonstration gif to the readme"
Haven't had time to update any projects to the new Cucumber builder, so haven't been able to make an example GIF.

If anybody has a repo using cucumber and wants it to be potentially selected as a demonstration image, ping me.

[2020-09-07 20:06] bbqsrc opened #63 "Add proper documentation in the crate"
Having a useful readme is nice, having useful crate documentation is even better.

[2020-09-07 20:14] bbqsrc commented on #61
I have now published Cucumber 0.7.0. If you have a look at the example in the readme, you will see for simplicity I have made the steps definition in an inline `mod`. This could very easily be another file that is a module.

Once you have done that, you specify the steps to be used in the cucumber builder. That's it!

[2020-09-07 20:14] bbqsrc commented on #50
@Puciek 0.7.0 has been published now. 🎆

[2020-09-08 06:50] BerhorShadowbuckle commented on #61
Thanks! :)

[2020-09-08 06:51] #61 closed

[2020-09-09 17:51] Puciek commented on #50
@bbqsrc Time bloody flies doesn't it? In last month i literally only had one hour to do OS stuff :/. But I've set time for this weekend and will bloody finish this, as it's embarrassing, and I apologize that this went from making headway to being dead, even more so that I still need it myself hah!

[2020-09-09 19:23] bbqsrc commented on #50
No problem, took me long enough to get the develop branch merged back into master as it is. :smile:

Take your time and don't burn out, it's a voluntary effort.

[2020-09-11 17:32] jonasrichard opened #64 "Support for example values - or better examples"
I expected to access the values in example table easier, like scenario outline can be execute for each row of the example table and in those scenarios we can access the values easier, like:

[code]

Or do we need to collect all examples in the World, but how? The example test is not implement for that.

[2020-09-11 17:42] bbqsrc commented on #64
Hey, thanks for the feedback!

Documentation does need to improve. I'm a little busy right now so I can't help right away.

I'll consider your suggestion of syntax as well and get back to you. 🙂

[2020-09-14 15:22] nbigaouette opened #65 "Print running step when executing, not when done"
I have some steps that are long to execute, for example I poll an external system for updates which can take minutes.

With 0.7 the step's name will be printed at the end of execution, either in green if passed or red if failed.

It would be great if the step's name were printed (in neither green nor red) with an indication that the step is running. When done, the final red/green line could be sho

[2020-09-14 15:28] nbigaouette opened #66 "Async versions of given/when/then don't catch panic"
With 0.7 async steps are supported (thanks!) but if they panic the binary exists with return code of 0 (meaning success). Cucumber does not show the failure nor any final output, it simply exits.

[code]

While the `Panic async (caught)` step is properly caught and show the error, the `Panic async (problematic)` will terminate the binary without error nor output.

It would be helpful for users to

[2020-09-14 15:31] bbqsrc commented on #66
Not a bug, or at least not something I can fix due to how async/await works (based on my understanding). Just literally how this works if you don't box your functions with catch_unwind. I added the `t!` macro to simplify declaring async functions, which should be visible in the example in the readme, though I suppose I should call this out in more detail.

Would you be interested in adding an FAQ

[2020-09-14 15:42] bbqsrc commented on #66
Actually I'm having a dumb day, I think I just forgot a `+ UnwindSafe`.

[2020-09-14 15:46] bbqsrc commented on #66
Yeah it was that. Fixed in 0.7.2. :smile:

[2020-09-14 15:46] #66 closed

[2020-09-14 15:51] bbqsrc commented on #65
Should be rather straightforward.

Extend the `StepEvent` enum to have a `Starting` event, then `yield` it in all the right places (basically search for `ScenarioEvent::Step` and it should be fairly obvious).

Then you update `output/default.rs` to handle that event. On Unix, you can get away with doing a print then a flush, then when you want to write again doing a `\r` to return to the beginning

[2020-09-17 20:21] liamcurry opened #67 "Filtering scenarios removed in 0.7?"
In 0.6 there were CLI options to filter scenarios based on globs and/or tags, is that no longer available in 0.7?

[2020-09-17 20:29] bbqsrc commented on #67
It should still be there. Can you describe the problem that you're facing?

[2020-09-17 20:29] bbqsrc commented on #67
Oh, are globs being ignored? I might have just forgotten to re-add that during the refactor!

[2020-09-18 06:00] liamcurry commented on #67
I'm not seeing anything obvious in the docs https://docs.rs/cucumber_rust/0.7.2/cucumber_rust/struct.Cucumber.html

To be clear I'm talking about the options here https://docs.rs/cucumber_rust/0.6.9/cucumber_rust/cli/struct.CliOptions.html

[2020-09-20 08:47] stefanpieck opened #68 "t macro Async regex with block and mutable world has no mutable world."
When trying to use the t macro with matches and a mutable world like

`t!(|mut world, matches, _step| {
       world.value = 5;
  }),`

 I get an exception

`cannot borrow `world` as mutable, as it is not declared as mutable`

It seems that the generated code lacks the mut keyword.

[2020-09-20 09:15] bbqsrc commented on #68
Published as v0.7.3. Thanks for the contribution!

[2020-09-20 09:15] #68 closed

[2020-09-20 17:32] stefanpieck commented on #64
Hi,

I would expect examples to be handled using regex steps.

And during the execution the example values can be automatically inserted, and the Scenarios be executed one for each example.

With the example given in test.features the scenario

[code]

could be implemented as:

[code]

And would generate a result like:

[code]

I created a small example for that [in this branch](https://github.com

[2020-09-20 20:19] bbqsrc commented on #64
@stefanpieck looks neat. 😄 I had come to the conclusion to do it the same way, though hadn't found the time. Instead, I had focused on splitting "Scenario" into an enum of "Scenario Outline" and "Example", as per the Cucumber reference.

I'd be happy to accept your implementation here via a PR, and then add my stuff on top later.

[2020-09-21 15:10] bbqsrc commented on #64
The first half of this has been merged now. I'll work on the splitting of scenario into two items when I have time. 😄

[2020-09-23 00:46] nbigaouette commented on #65
Would you find [indicatif](https://docs.rs/indicatif/) interesting? It might provide this kind of dynamism without having to handle special characters oneself...

[2020-09-23 15:20] nbigaouette opened #71 "Emoji in default output causes width calculation to be incorrect"
One of my step has two emojis in its name (🦀). This seems to break the terminal width calculation used to send the file/number on the right side. See how the column number (9) gets sent to a new line in the screenshot:

<img width="1107" alt="Screen Shot 2020-09-23 at 11 18 03 AM" src="https://user-images.githubusercontent.com/112988/94033180-b27de580-fd8e-11ea-861c-b2e24072d8c3.png">

I suspect i

[2020-09-23 16:01] bbqsrc commented on #71
Terminals all render emoji widths differently, so this isn't something I intend to mitigate personally. It's a known issue with how monospaced fonts, terminal renderers and Unicode interact.

Happy to leave this open if someone wants to try to tackle this, but forewarning that it's an endless pit of despair and nothing good comes of it. tl;dr computers mean we can't have nice things. haha

[2020-09-23 16:05] nbigaouette commented on #71
😂
👍

[2020-09-28 20:41] Baev1 commented on #65
Hi! I would like to give this a try if that's alright?
I think you can just write the name of the step to stdout when the step started, set a bool on BasicOutput to true and then when next calling BasicOutput::handle_step delete the last line printed using ANSI escape codes if that bool has been set?

[2020-09-28 20:43] bbqsrc commented on #65
Hi @Baev1 😄

That sounds like one way to do it, yes. Worth a shot at least!

[2020-09-28 20:46] bbqsrc commented on #65
You will still probably need to at least extend the `StepEvent` enum to have a Starting event, as right now there's no way to see that a step has started in the event model.

I also still don't know how to handle printing a clearable line on Windows, haha.

[2020-09-28 20:51] bbqsrc commented on #65
@nbigaouette I did actually try indicatif on a branch when I was trying parallel scenario runners. It uh, didn't go great. It's not very async friendly yet (lots of things aren't unfortunately).

[2020-10-01 09:22] #65 closed

[2020-10-01 09:26] bbqsrc commented on #71
Hum, this may not be the time sink I expect. There's a crate: https://github.com/unicode-rs/unicode-width

We could just use this. It won't fix everything I suspect, but it'll work in more cases than we currently handle. Slap this everywhere I currently did a width calculation and we'll have a better life.

[2020-10-01 09:33] bbqsrc commented on #71
_Definitely_ read https://github.com/unicode-rs/unicode-width/issues/4 if you're going to tackle this, though. Maybe I removed time sink too soon, I'll put it back, ahaha

[2020-10-01 21:14] bbros-dev opened #74 "Aruba support"
Thank you for the effort put into making cucumber-rust.  It is appreciated.

Has any thought been given to implementing Aruba's steps?
https://github.com/cucumber/aruba

Either separately or within cucumber-rust as some CLI domain specific sane defaults?

If not cucmber-rust: Does anyone know of such a library/framework where this type of effort might sit?
I know of speculate.rs, but it seems to b

[2020-10-01 21:15] bbqsrc commented on #74
Can you show me an example of this in use? I'm not quite grasping what this does from that link alone. :smile:

[2020-10-01 21:29] bbros-dev commented on #63
Note sure if this is the right issue to track this....

It would be useful to know the cucmber-rust counterparts to the Cucumber documentation.

Example: What is cucumber-rust statement that addresses "how-cucumber-finds-your-features-and-step-definitions"

https://cucumber.io/docs/gherkin/step-organization/#how-cucumber-finds-your-features-and-step-definitions

The upstream docs might also predef

[2020-10-01 21:32] bbqsrc commented on #63
I appreciate your contribution, and I'd say right now, this is the right place for this type of discussion. :smile:

I think what you suggest is quite reasonable! I am quite bad at documentation planning, so if you want to help, we could start with someone perhaps yourself listing some bullet points on the kinds of topics we should cover relative to the Cucumber documentation.

[2020-10-01 21:48] bbros-dev opened #75 "Doc - Usage: How to execute cucumber features"
[code]

Currently the documentation is missing instructions for the then step to be realized.

[2020-10-01 22:03] bbros-dev commented on #61
I would keep this open as a documentation issue.

The issue of concern is that cucumber-rusts recommendation to place step files inside `test` rather than adopt upstream conventions (java, java-script, ruby, kotkin) of placing steps under `features`.

The reason why `tests` is a poor idea, in my experience, is that it muddles unit tests and executable features.

 Features tend to be written first,

[2020-10-01 23:05] bbros-dev commented on #74
Sure, many:
https://github.com/cucumber/aruba/tree/master/features

Generally web apps are snowlfakes in terms of the UI - no two alike - so you want to write custom steps (though there are libraries of web oriented steps)

However CLI apps have a UI that is much more constrained (stdin, stdout, stderr).
Aruba is a set of CLI domain specific steps - specialized to CLI apps.  Generally no one wants

[2020-10-01 23:10] bbros-dev commented on #75
Okay so the missing instruction is:

[code]

unfortuantely this abends:

[code]

The `Cargo.toml` is

[code]

[2020-10-01 23:12] bbqsrc commented on #74
It seems that it is effectively a set of predefined steps then, with some special tags that behave as directives?

Is there anything fundamental to this that couldn't be implemented as a separate crate that just predefined steps to be used?

[2020-10-01 23:24] bbros-dev opened #76 "Doc - Usage: Editions schmitions"
[code]

[2020-10-01 23:29] bbros-dev commented on #74
No, that is my recollection of the implementation - but it has been a few years.
The issue might be how it seamlessly integrates with cucumber-rust, but I'm a total rust noob. Seriously, don't listen to me - I can't even get cucumber running: issue #76

[2020-10-01 23:35] bbros-dev commented on #74
I should point out one natural use case is people porting some CLI app from ruby, python, etc to rust.
If they have feature files using Aruba steps then things will Just-Work(TM)

[2020-10-02 00:03] bbros-dev commented on #76
It appears the incantation is
[code]
and add to `Cargo.toml`

[code]

[2020-10-04 21:47] bbqsrc commented on #76
`cucumber = { package = "cucumber_rust", version = "^0.7.0" }` imports the crate with the name `cucumber`, and `extern crate` is largely not needed in 2018.

You can read more about that here: https://doc.rust-lang.org/stable/edition-guide/rust-2018/module-system/path-clarity.html

[2020-10-04 21:47] #76 closed

[2020-10-06 10:32] bbqsrc commented on #74
I think this would be better tackled in another crate. Thanks for your interest.

[2020-10-06 10:32] #74 closed

[2020-10-06 10:40] bbqsrc commented on #75
Fixed in https://github.com/bbqsrc/cucumber-rust/commit/6f20c30bf528b571ae6ba56246c1a7079e3f003c. Thanks!

[2020-10-06 10:40] #75 closed

[2020-10-07 04:28] bbros-dev commented on #76
@bbqsrc isn't that line what I have in this issue and in issue #75 ?

[2020-10-08 17:48] bbqsrc commented on #76
Yes, the issue was that the README incorrectly copied the `extern crate` from the internal tests we have where it _is_ required. It is not longer in the README so copy and pasting it won't happen. :smile:

[2020-10-19 07:05] #67 closed

[2020-10-19 16:18] saveriomiroddi opened #79 "The CI badge on the README points to the wrong project"
The CI badge on the README points to the wrong project - it points to https://github.com/bbqsrc/box/actions.

[2020-10-19 16:19] bbqsrc commented on #79
Shhhh, if I change it to point to this repo people will know my builds fail. 😉

I have no idea when I broke this but I'll fix it now.

[2020-10-19 16:20] bbqsrc commented on #79
Fixed. It was just the link fortunately, the image was pointing to the correct repo, haha. Thanks!

[2020-10-19 16:20] #79 closed

[2020-10-19 16:26] saveriomiroddi commented on #79
Wow, that was fast. I was opening a PR, and couldn't reproduce the problem. Took me a while to figure out you'be been Extremely Efficient™ :laughing:

Thanks for your work!

[2020-10-20 11:37] wucke13 opened #80 "Test fails without meaningfull error"
Probably one of my features is erroneous, but which one? AFAICT [this](https://github.com/bbqsrc/cucumber-rust/blob/v0.7.3/src/cucumber.rs#L67) panics, but I have no clue why. In order to provide a smooth user experience it would be good to at least give a hint about which operation failed?

Runnning `RUST_BACKTRACE=full cargo test --test cucumber` yields

[code]

[2020-10-20 12:07] bbqsrc commented on #80
Hey! Yes, that's bad. We'll fix it!

[2020-10-20 12:51] tyranron opened #81 "Reducing boilerplate with proc macros"
In our codebase we've built some proc macro machinery, which allows us to reduce boilerplate using this library. An example could've looked something like this:
[code]
Under-the-hood it uses code generation via proc macros, some additional glue type definitions, and `inventory` for automatic step assertions registration.

We want to make public that machinery.

Are you interested with adding all o

[2020-10-20 12:53] bbqsrc commented on #81
I'd be pretty happy to integrate that, sure. 😄

[2020-10-21 10:44] wucke13 opened #82 "Scenario outline doesn't error on an unknown placeholder"
Hi, I head a placeholder with a typo in it, so that there was  not col in the Examples which provided a value for it. Still the feature file parsed without an error. This is unexpected IMO, I would wish for errors in the anyways very loosely syntax of features to be reported as strict as possible.

[2020-10-26 15:52] rawkode opened #83 "README misleads newer Rust devs and doesn't result in runnable tests"
This seems undocumented here, but I could only get the example from the README.md to work when adding:

[code]

[2020-10-26 15:55] bbqsrc commented on #83
What is it that the `compat` feature gives? Even Cucumber itself doesn't use that feature so I find this issue strange.

The `cucumber_builder.rs` test is basically analogous to the README, does it break running `cargo test` on the repo directly?

[2020-10-26 15:58] rawkode commented on #83
OK. It looks like I need to explicitly add this to `Cargo.toml`

[code]

The `compat` was a red herring, as I copied that from the futures docs.

Even though cucumber has these as dependencies, I still need to manually add them.

This could be expected behaviour, I'm pretty new to Rust.

[2020-10-26 16:02] bbqsrc commented on #83
No problem. I think the proper idea here is I need to remove the example from the README and link directly to the files in the tests directories; maintaining these in tandem and having people understand how to use them has been pain.

That said, someone is soon to contribute a proc-macro variant that should make using Cucumber in Rust a bit more of a pleasure, masking a significant amount of compl

[2020-10-26 18:04] wucke13 commented on #80
I ran into another issue, where again some of my features causes an error. To my surprise, the official ruby-cucumber implementation seems to parse my features just fine. Unfortunately I can not share the feature file in question so far, due to legal reasons. Having the file name would already help, knowing in which line the parser gets unhappy would be excellent!

[2020-10-26 18:33] bbqsrc commented on #80
I haven't the time to debug this right now, unfortunately, and didn't find time last week either.

My guess is that it is this line: https://github.com/bbqsrc/cucumber-rust/blob/main/src/cucumber.rs#L100

If you use the [example for the Any type in the std library](https://doc.rust-lang.org/std/any/#examples), you can at least print the error before panicking by attempting to cast to `&str` and `S

[2020-10-30 22:38] rawkode commented on #61
Hmm, should this be re-opened? According to the Rust docs, each file under `tests` is actually compiled as its own crates, meaning that we shouldn't be using `mod <file>` in the `tests` directory.

https://doc.rust-lang.org/book/ch11-03-test-organization.html

[2020-11-03 21:26] nbigaouette opened #84 "Test failure cannot be detected"
I want to run my cucumber tests and fail the whole execution if a step fails.

Right now, there does not seem to be the case; Looking at `Cucumber::run()` the steps are simply executed in a `while` loop:
https://github.com/bbqsrc/cucumber-rust/blob/7140ba0d7314cd8863d7c290e8e31c2a/src/cucumber.rs#L145-L158

In my code base I isolate my call to `Cucumber::run()` in a separate crate (where all my st

[2020-11-03 22:36] bbqsrc commented on #84
I don't have time to look into this but I'd be happy to receive an experimental pull request that solves your problem then discuss the appropriate API changes to make it generally useful. 🙂

[2020-11-04 22:02] bbqsrc commented on #84
So my understanding of your requirements based on your example PR is to be able to programmatically determine the outcome of a test run. Entirely reasonable.

Would it not make more sense for us to return an object similar to https://doc.rust-lang.org/std/process/struct.Output.html?

A standard "Output" object could contain total tests run, total errors, etc, with a basic `success` boolean for if

[2020-11-07 22:25] wucke13 opened #86 "Scenario outline doesn't work inside a Rule scope"
I tried to make an secnario outline - it didn't work. I'm not sure whether this is relevant, but it resides inside a `Rule`. Looking at the matches I seems to just put the placeholder
`<name of a col in the Examples table>` instead of a value from the regarding table. How is this supposed to work?

This is a minimal example to reproduce the issue:

__Feature__

[code]

__Step Definition__

[code]

[2020-11-09 13:14] bbqsrc commented on #86
Closing in favour of https://github.com/bbqsrc/cucumber-rust/issues/64.

[2020-11-09 15:56] wucke13 commented on #64
What does it take to get the second half done as well?

[2020-11-09 16:32] bbqsrc commented on #64
It doesn't seem that you need the second half to achieve what you want. Change your cucumber dependency to point to:

[code]

and see if it behaves how you would expect. :smile:

[2020-11-09 16:57] wucke13 commented on #64
@bbqsrc Doing so does not seem to change the problem at all :thinking:, even though it seems to build of the newest commit:

__Cargo.lock__ snippet:

[code]

[2020-11-09 17:00] bbqsrc commented on #64
As per https://github.com/bbqsrc/cucumber-rust/issues/64#issuecomment-695813766, to match the step you'll need to use regular expressions for the replacement positions for now.

[2020-11-09 17:01] bbqsrc commented on #81
Hey @tyranron, need any assistance with the integration work?

[2020-11-09 17:04] wucke13 commented on #64
That is what I'm doing. I'm not able to spot what I'm doing wrong, please have a careful look at https://github.com/bbqsrc/cucumber-rust/issues/86 again. AFAICT I'm doing the equivalent to the comment you linked, still with `master` the behavior is the exact same as described in the issue (it's not working).

[2020-11-10 11:34] wucke13 commented on #86
The fixes which claim to solve #64 are not making this work, hence I would like to have this issue reopened @bbqsrc

[2020-11-10 11:39] wucke13 commented on #86
And I can confirm that this issue is caused by the `Rule: ` part. Removing it makes it work with latest master. So @bbqsrc , this indeed is not the same issue a #64 . Unfortunately I can't re open this issue, as you closed it.

[2020-11-10 11:40] bbqsrc commented on #86
Right, then it's a slightly different issue. Will reopen. :smile:

Seemingly, the next obvious step to fix this issue then is to replicate the logic under the rule handling part of the code.

[2020-11-10 16:18] tyranron commented on #81
@bbqsrc nope, thanks. I'm just quite a bit limited in time dedicated to this. Will try to land it this/next week.

[2020-11-10 21:43] #81 closed

[2020-11-12 17:04] nbigaouette opened #88 "Deadlock when captured stdout is too large"
By default cucumber-rust captures the steps stdout/stderr.

This makes for nice tests output as its controlled by cucumber. Unfortunately, when the output is large, cucumber just deadlocks. I was hit by this problem at least twice (my steps are quite verbose...) and it took me some time to figure out the issue.

Here's a test that, for me, deadlocks or not depending on the `max_range` value:

[cod

[2020-11-12 17:07] bbqsrc commented on #88
Thanks, I hate it! Especially the implication that 2020 may never end.

This is worrying because it's not inconceivable that a common use case is to print a large chunk of stuff that will be printed in the case of an error for debugging (this is how I often do things...)

Can you tell me on which operating systems you can reproduce this issue on?

[2020-11-12 17:39] privalou commented on #82
Hello! I would like to take this issue :)

[2020-11-12 18:08] nbigaouette commented on #88
Yeah it's not great... When that happens it's hard to see if it's waiting for something (f.e. I have steps that polls a system for some condition, which can take a couple of minutes) or if it simply deadlocks.

I caught this yesterday because I'm running those test in a k8s cluster; the livenessProbe failed and k8s restarted the pod. So this is a `x86_64-unknown-linux-musl` target with relatively

[2020-11-12 19:00] privalou commented on #58
@bbqsrc hello!
I would like to take this issue. what should I start with?

[2020-11-12 20:05] bbqsrc commented on #58
Hi @privalou :)

If we take an ordinary Rust crate and run `cargo test -- --help`, we'll get [what I've pasted in this gist.](https://gist.github.com/bbqsrc/194bc887c5b07b4a0785ec0b16f396fe)

I think the absolute first step to take would be to modify [this](https://github.com/bbqsrc/cucumber-rust/blob/main/src/cli.rs) code so that unsupported flags are captured in a "catch all" and printed as warn

[2020-11-13 20:17] privalou commented on #58
Thanks for your guidance! But to be honest it is not quite clear to me how to implement "catch all" logic at [cli.rs](https://github.com/bbqsrc/cucumber-rust/blob/main/src/cli.rs)

[2020-11-13 20:22] bbqsrc commented on #58
@privalou the premise is that if you have a mechanism that can catch all "unknown arguments" into a vector, you can handle them separately. If that list isn't empty, then it means some unknown arguments were parsed, but not handled.

An example could be a hypothetical app called `./runner`.  It accepts the flags `-a` and `--yes`, but nothing else. We called `./runner -a --foo --yes`. What we would

[2020-11-13 21:22] privalou commented on #58
@bbqsrc
this helped me a lot :)
but one more stupid question: should I test my changes at another project using cucumer_rust as lib or I can test it directly in this project?

[2020-11-13 21:40] bbqsrc commented on #58
It might be easier to test it with another project, and use a path dependency to your modified cucumber crate.

You can do that with:

[code]

The path can be relative from your testing crate, or absolute.

[2020-11-15 21:06] privalou commented on #58
it seems like it is not failing when we are passing parameters like this
```cargo test cucumber -- --test-threads=1```
I will try to dive more into clap to ignore unrecognized params

[2020-11-15 21:08] humb1t commented on #58
For @privalou, some additional information about Rust + Cargo testing:
* https://doc.rust-lang.org/book/ch11-02-running-tests.html
* https://doc.rust-lang.org/cargo/commands/cargo-test.html

[2020-11-15 21:15] humb1t commented on #58
Answer to @privalou question about dependency between `cli.rs` and test arguments.

Basically `cucumber.rs::main` method is running by cargo while will run cucumber tests inside.
![image](https://user-images.githubusercontent.com/5635032/99196901-92740c80-27a8-11eb-9e3e-92baf5dec704.png)
`cli.rs` will pass arguments for Cargo and Rust and may use them in cucumber runner (https://github.com/bbqsrc/

[2020-11-17 17:44] privalou commented on #58
Thank you for your response, but this part is not quite clear to me

I don't see where [cli(self)](https://github.com/bbqsrc/cucumber-rust/blob/2d5de3261fe9ec2368cee96eaed36d11cb786287/src/cucumber.rs#L130) method is called.

[2020-11-21 02:28] wucke13 opened #89 "Allow a step to declare itself not implemented"
Especially if a step is using regex to extract information, it might be that some input combinations are implemented already, while others are not. A way to specify that a step which did match still deems itself not ready to implement the step with the given input would be nice for this situation.

[2020-11-23 17:07] saveriomiroddi opened #90 "README is confusing - it possibly has errors"
Hello!

I went through the README in order to test the crate, however, I find it very confusing, because it doesn't run with a simple copy/paste. I'm a beginner though, so possibly, all of this is evident to an experienced programmer, however, I think it'd be good to have a README that shows a procedure that can be copy/pasted, and run directly.

I'll post here the procedure I've run, with my comm

[2020-11-24 12:59] bbqsrc commented on #84
To clarify, I proposed changing the return type of `run` to return this "Output" object, and add an additional convenience wrapper for the test runner that automatically returns an exit code on failure, which would be called `run_and_exit`.

[2020-11-24 14:42] nbigaouette commented on #84
That's perfect! :D

[2020-11-24 17:45] bbqsrc commented on #90
The readme will be replaced by a book. In the mean time, there is [Florian's tutorial](https://www.florianreinhard.de/2020-10-05/cucumber-07-in-rust-beginners-tutorial/).

[2020-11-25 04:45] Chocrates opened #92 "println! in steps"
Is it possible to print data to the console in steps for debugging?
It would be very useful while trying to get your regex right.

So something like this:

[code]

[2020-11-25 13:35] humb1t commented on #58
@privalou https://github.com/bbqsrc/cucumber-rust/blob/2d5de3261fe9ec2368cee96eaed36d11cb786287/src/cucumber.rs#L131

[2020-11-25 19:58] bbqsrc commented on #92
If you run `cargo test -- --nocapture`, all stdout will be printed (this is true for the ordinary tests and Cucumber tests). It might be nicer however to have a specific and clean way to capture and print it while debugging a step, but this is what we have for now. 😄

[2020-11-26 03:12] Chocrates commented on #92
Hey thank you @bbqsrc that is good enough for my needs at the moment!

[2020-12-02 23:44] #92 closed

[2020-12-02 23:45] bbqsrc commented on #84
This is in `main` now. Will be in v0.8. :)

[2020-12-02 23:45] #84 closed

[2020-12-02 23:50] bbqsrc opened #93 "Review and cleanly integrate proc-macro into base crate"

[2020-12-04 10:56] ilslv commented on #93
@bbqsrc Hello 👋
I'm original implementor of proc-macro autowiring voodoo magic. If this issue somehow related to my work or you have some questions I'd be happy to help

[2020-12-04 10:58] bbqsrc commented on #93
Hey @ilslv! Right now it's just a marker issue to remind me to make the proc macro accessible from the primary cucumber crate, with a feature flag or similar.

Will let you know if I have any issues. 😄

[2020-12-07 19:14] alvskar commented on #90
I've added some of those suggestions and cleared up some confusion in the README; the macros require latest code from `main`.

That being said, the crate does not require nightly, so not sure what that's about.

[2020-12-07 19:19] alvskar commented on #83
The Readme should be a bit more newbie friendly now.

[2020-12-08 20:23] fin-ger opened #96 ""when" step is not found when referred to as a "given" step"
The Gherkin Reference states

I have the following step definition:

[code]

with the following scenarios:

[code]
[code]

However, the second scenario leads to the following output:
![image](https://user-images.githubusercontent.com/5300274/101536974-0d40d980-399b-11eb-8d63-58d235dfa434.png)

When switching `And` to `When` the scenario succeed.

However, I think this conflicts with the above ment

[2020-12-08 22:04] bbqsrc commented on #96
You are interpreting the reference correctly, I think. The implementation in Rust does not follow that logic it seems. (I write it seems even though I wrote the parser, heh).

I do wonder whether or not this is a misfeature of the specification or a bug in our implementation. I have my suspicions that the answer lies in-between. `Given` is meant to be used for setting up context, while `when` is a

[2020-12-08 22:15] fin-ger commented on #96
Hmm, in the first scenario I check whether a password store can be successfully opened and in the second I use the same code to ensure a password store is successfully opened. I can duplicate the code, but I think this would be unnecessary as all the steps should always have a unique name. Therefore I would have to come up with another "name" for the "given" step although it does exactly the same

[2020-12-08 22:19] fin-ger commented on #96
I'm sorry, I did not answer the question: I think an error for this behavior with an opt-in would be a solution for me. However, I still think this would not conform with the Gherkin Reference as a step is identified by it's name.

[2020-12-09 08:26] saveriomiroddi commented on #90
Thanks for that! I'll redo the procedure to make sure it's beginner-proof :laughing:

It's possible that I was confused by the other problems, and that I've mentioned something wrong :grimacing:.

[2020-12-09 09:25] saveriomiroddi commented on #90
I've tried the procedures again. The one highlighted in the [Auto-wiring via macros](https://github.com/bbqsrc/cucumber-rust#auto-wiring-via-macros) section now works fine.

I have still an issue with the non-macro version (the first example, essentially):

[code]

Now, this can be trivially fixed by:

[code]

There's something interesting going on here, because I had a discussion with Florian Rei

[2020-12-09 09:34] saveriomiroddi commented on #90
By the way, thanks for the cleanup :pray:. I think it's very valuable for beginners to have a working, ready to use, template.

[2020-12-09 13:45] jarrrgh commented on #96
I've been missing this too. I've only used Ruby implementation earlier and I'm pretty sure the keywords were interchangeable.

[2020-12-09 13:54] bbqsrc commented on #96
I've been thinking about this more today. I'd say a few things:

- Cucumber/Gherkin spec is non-normative and inconsistently applied amongst the official implementations, so following it coherently is potentially more expensive than any value it is to provide
- This is a Cucumber implementation for Rust, not any other language. Rust is a language of explicitness and types. Stringly typing things i

[2020-12-09 14:10] fin-ger commented on #96
Alright, this sounds reasonable to me. I changed my scenarios to

[code]

I might have been mislead by the impression that a `Given` step cannot lead to a `Then` step directly, but as I am testing my setup, I guess this is the clean approach.

Thanks for all your feedback!

For me the issue is solved and you are free to close it!

[2020-12-09 14:12] bbqsrc commented on #96
@fin-ger you can even have `Given`s _later_ in a test. There's no enforced ordering for them :smile:

You're welcome. If you have any other troubles, feel free to open another issue. :smile:

[2020-12-09 14:12] #96 closed

[2020-12-09 18:26] alvskar commented on #90
Very odd. I am running on Linux (PopOS), and I cannot reproduce this issue.

Adding `use futures::FutureExt;` produces a warning:

[code]

My version of Rust: `rustc 1.47.0 (18bf6b4f0 2020-10-07)`

May be something messed up with the `futures` crate in the environment, I can't find anything on the error you're getting.

[2020-12-09 19:30] #83 closed

[2020-12-09 20:13] saveriomiroddi commented on #90
Thanks for testing :slightly_smiling_face:

Since it's already two machines where this can't be reproduced, I'll take it's just an issue with my system.

Closing the issue as resolved, and thanks everybody :pray:.

[2020-12-09 20:13] #90 closed

[2020-12-14 08:45] ilslv commented on #96
@fin-ger

You can add multiple attributes to a single function. Also I'm planning to add `#[step(...)]` attribute, which will match `Given`, `When` and `Then` steps.
[code]

If you have some step-specific logic, you can add `step` argument and match on it's type
[code]

[2020-12-20 14:50] privalou commented on #58
@bbqsrc
Hello! it seems like it might be reasonable to get rid of this cli-lib "clap" because it is not used anywhere.
Btw, ```cargo test --test cucumber --verbose -- -nocapture --test-threads=1``` command is working fine for me with an example from README

[2020-12-28 14:33] bgrosse-midokura opened #97 "Can't store arbitrary data in World"
With `0.6.0`, as it wasn't async, I could just put anything in my `World` to keep state across steps.

With `0.7.0` and the async stuff, I can't put something that doesn't implement `UnwindSafe` in my `World`:

[code]

I used to have an mqtt client connected between steps. Perhaps I am using `World` wrong, should I just keep simple data and reconnect every step?

[2021-01-07 16:34] bbqsrc commented on #97
This is definitely a painpoint. Something you could do instead of putting it into the world is make it a (please don't shoot me) a global mutable static behind a RwLock, if the same instance is used amongst them all. In general we'd want it such that you produce a new connection to be used per scenario, so that nothing breaks, but with the current "World" model, that doesn't work in all cases, par

[2021-01-12 15:49] jonasrichard commented on #97
That is a pitty. Ran into the same issue. Personally, if I need to choose, I would rather to prefer the acceptance test panic if my code panic then catching the panics, and all data should be UnwindSafe in World. If I use a global variable, the whole World concept stops making sense.

[2021-01-12 15:58] bbqsrc commented on #97
I suppose I should make clear I was not suggesting that the global variable solution was a _good_ solution, just one of the only workarounds I could think of for that moment. I would note that cucumber-rust is 0.7 for good reason, and that reason is simple: unproven API, limited documentation and limited usage at-large yet. 😄

it may simply be that we stumble upon a very simple pattern for handlin

[2021-01-12 16:05] bbqsrc commented on #97
Haha, well, @bgrosse-midokura, I removed the requirement for UnwindSafe from the trait in the `main` branch and all tests passed. Try it out?

[2021-01-15 18:24] bgrosse-midokura commented on #97
@bbqsrc sorry for not replying, I changed my tests meanwhile to run without cucumber-rust. But I will try again, and report back here!

[2021-01-18 11:36] bbqsrc commented on #97
I will close this issue for now. @bgrosse-midokura, if you do end up doing what you said, feel free to reply here and I'll reopen if there's still issues.

[2021-01-18 11:36] #97 closed

[2021-01-27 16:19] incident-recipient opened #98 "Comments before feature start causes panic"
Comments before the feature causes a panic:

**error.feature**
[code]

gherkin-rust seems to parse it without panicking. The error manifests in cucumber.rs, apparently failing to unwrap:

**cucumber.rs**
[code]

[2021-01-30 13:47] bbqsrc commented on #98
Fixed

[2021-01-30 13:47] #98 closed

[2021-01-31 12:58] nnar1o opened #99 "project template"
Where is a simple hello world project template with one example test?
Creating everything from scratch using this very brief documentation is painful

[2021-02-03 21:26] StyMaar opened #100 "Is non-english Gherkin syntax supported ?"
Cucumber supports a [wide list of languages](https://cucumber.io/docs/gherkin/languages/) for the gherkin syntax, does Cucumber-rust support any of those ?

[2021-02-03 21:27] bbqsrc commented on #100
Since the last patch release, all of them. Try it out. 😄

[2021-02-03 21:31] StyMaar commented on #100
@bbqsrc so cool ! I couldn't make it work, but I was using v0.7 (after reading [this tutorial](https://www.florianreinhard.de/2020-08-16/cucumber-in-rust-beginners-tutorial/) which is linked in the README).

[2021-02-03 21:33] StyMaar commented on #100
[code]
Hm, at least the error message is better than in 0.7 but it still doesn't work.

[2021-02-03 21:33] bbqsrc commented on #100
Share your feature file?

[2021-02-03 21:33] StyMaar commented on #100
[code]
from cargo.lock

[2021-02-03 21:34] StyMaar commented on #100
[code]

[2021-02-03 21:35] StyMaar commented on #100
(I literally took the one in the aforementioned example, and put the French version of the keywords)

[2021-02-03 21:35] bbqsrc commented on #100
It is required by Cucumber that you specify the language, so add `# language: fr` at the top and it should work.

[2021-02-03 21:36] StyMaar commented on #100
Oh, it works indeed! Thanks a lot

[2021-02-03 21:36] #100 closed

[2021-02-03 21:36] bbqsrc commented on #100
This will get annoying if your whole project is going to use that language though. I think I'll make a feature request item to allow specifying which language in the `Cargo.toml` as well, so it will default to that language.

Glad I helped. :smile:

[2021-02-03 21:38] StyMaar commented on #100
I think I would survive without it, but it's still a good idea!

[2021-02-03 21:55] bbqsrc opened #101 "Add support for Cucumber metadata in Cargo.toml"
We would provide support for default settings for the Cucumber runners for a project in the `package.metadata.cucumber` section of the `Cargo.toml`. First thing to support would be the default language to assume, as adding your preferred language to _every_ feature file surely becomes tedious.

[code]

[2021-02-05 08:57] bbqsrc opened #102 "Add default language to Cucumber runner builder"
Should be possible to set the default language from the builder.

[2021-02-05 08:58] bbqsrc opened #103 "Add default matching tags to Cucumber runner builder"
Sharing feature files amongst several projects means that only some of the features need to be tested in some codebases. One mechanism for managing this is tags, so one can filter out those scenarios that are to be ignored.

We should be able to specify the default tags in the builder so they don't need to be hacked in somewhere else.

[2021-02-05 08:59] bbqsrc commented on #101
Closed in favour of #102 and #103.

[2021-02-05 08:59] #101 closed

[2021-02-05 09:01] bbqsrc commented on #99
I appreciate the trouble you are facing. A quickstart book is under development, and the README gives a very simple example on how to integrate cucumber into your project with some examples.

If this is a problem for you, perhaps waiting for a 1.0 release is more for you. 🙂

[2021-02-05 09:01] #99 closed

[2021-02-15 14:02] aaronmcohen opened #104 "Documentation Example does not build"
The instructions from https://github.com/bbqsrc/cucumber-rust do not compile with rust 1.5.0 or nightly.

# Steps to reproduce
- Create project

- cd cucumeber-example
- Update Cargo.toml
[code]
- mkdir features
- Updates features/example.feature
[code]
- mkdir tests
- Update tests/cucumber.ts
[code]
The build fails with
[code]
Updating the example to the latest release does not fix the issue:
[co

[2021-02-15 14:03] bbqsrc commented on #104
Seems the macros rely on the name of the cucumber crate being `cucumber_rust`, even though my pattern is to not do that.

Try:

[code]

[2021-02-15 15:07] aaronmcohen commented on #104
That did the trick. Thanks!

[2021-02-15 15:08] bbqsrc commented on #104
You're welcome. If you want to make a little pull request fixing that part of the readme for the macro section, I'd happily merge it. :smile:

[2021-02-15 15:36] aaronmcohen commented on #104
Thank you. Please consider  https://github.com/bbqsrc/cucumber-rust/pull/105.

[2021-02-15 15:37] #104 closed

[2021-02-22 18:56] tscritch opened #106 "Generate Default Steps If None Exist"
If this feature already exists I apologize, but I can't seem to find it if it does.

I would like cucumber to output (whether in the console or a file) a default steps implementation if the scenario steps cannot be found but there is an existing feature file. I know other versions of cucumber do this for other languages/testing frameworks.

My guess is that this would be fairly straightforward giv

[2021-02-22 22:25] bbqsrc commented on #106
Hey! It is not yet something that exists, and I am aware of what other languages do. It's a neat feature, but I've always felt it... wasn't enough.

My more ambitious plan is to use a Cucumber-aware extension to the language server to allow autocompleting steps based on feature files. This is one reason I wrote the gherkin crate, so I had control over the AST to enable this. :smile:

But that's a

[2021-03-01 12:40] theredfish opened #107 "Capture stdout on test success"
Hello,

I'm trying to use the following configuration : `enable_capture(true)`.
It works on failures, but not on successes. Is there a way to print information during a valid test case? I would like to attach extra information to my steps. I don't know if `enable_capture` is intended to work in this particular case.

- [See this repo for a reproductible case](https://github.com/theredfish/cucumber

[2021-03-01 19:58] bbqsrc commented on #107
Add `.debug(true)` instead.

[2021-03-02 00:48] theredfish commented on #107
Thank you it was what I was looking for :)

[2021-03-02 00:48] #107 closed

[2021-03-03 06:34] bbros-dev opened #108 "functions in traits cannot be declared `async`"
Following the README.md example.
I have this `cargo.toml`:

[code]

and this `./tests/cucmber.rs` file:

[code]

and observe this result:

[code]

[2021-03-03 07:03] bbros-dev commented on #63
Okay, still a rust noob, but doc might be where I can contribute.

How does the following sound:

- there are two categories of documentation:
  1. Those found on [docs.rs](https://docs.rs]: Written within `*.rs` files, generated by doc.rs/rustdoc/cargo doc, aimed at **contributors to** `cucumber_rust` crate and assumes high level of Rust and possibly cucumber/gherkin knowledge.  Limited links to

[2021-03-03 11:53] bbqsrc commented on #108
Change in your Cargo.toml:

[code]

To:

[code]

[2021-03-03 20:37] bbqsrc commented on #108
Replaced the readme with the example repo. For now, the proc-macro based approach is not really supported.

We'll put up a book soon that will explain all the options. 😄

[2021-03-03 20:37] #108 closed

[2021-03-03 20:39] bbqsrc commented on #63
My thoughts are:

We have a book in the works! You can definitely help us with that, that's the item 2 there. Once there's a skeleton, I'd be happy for you to offer as many of those things as you want. :smile:

[2021-03-03 20:48] bbros-dev commented on #63
@bbqsrc, upstream sound receptive to having user docs (type 2, per [this comment](https://github.com/bbqsrc/cucumber-rust/issues/63#issuecomment-789489086)) land there.

Still working out some of the details. Eventually there would be a "Rust" icon you'd click on to see the user related documentation that is specific for this crate, e.g. https://cucumber.io/docs/cucumber/api/

Since this issue is

[2021-03-03 20:51] bbqsrc commented on #63
Oh I hadn't even thought about our content ending up on cucumber.io yet. We're not 1.0, and I won't commit to an API so soon. But we will have a published github pages mdbook. (Working on it right now!)

The book would be under the same license as the codebase right now, which is MIT or Apache-2.0. But I think @alvskar wouldn't be against relicensing to CC BY or whatever the most suitable document

[2021-03-03 20:53] bbros-dev commented on #63
Okay lets wait to 1.0

Great. Just checked and upstream docs are MIT so no need to change that.

[2021-03-03 21:01] bbqsrc commented on #63
Okay, the early alpha book is published here now: https://bbqsrc.github.io/cucumber-rust/

The .md files are in the `book/` directory. Feel free to go wild. :smile:

[2021-03-03 21:02] bbqsrc opened #110 "User documentation (book!)"
This is a tracking issue for user documentation.

[2021-03-03 21:02] bbqsrc commented on #63
@bbros-dev tracking issue for user documentation: https://github.com/bbqsrc/cucumber-rust/issues/110

Let's continue there.

[2021-03-04 00:08] bbros-dev opened #111 "[Doc] Track and report compatibility with upstream 'golden' implementation"
Track and report Cucumber-Rust compatibility with upstream 'golden' implementation.

* [Cucumber Compatibility Kit](https://github.com/cucumber/cucumber/tree/master/compatibility-kit)
* [Golden master](https://github.com/cucumber/cucumber/tree/master/fake-cucumber)

In order to provide this documentation the support code in the upstream [Golden master](https://github.com/cucumber/cucumber/tree/mas

[2021-03-06 23:05] bbros-dev commented on #111
From [this comment](https://github.com/cucumber/cucumber/issues/1400#issuecomment-791253706), progress awaits upstream PR /cucumber/cucumber/pull/1372
https://github.com/cucumber/cucumber/pull/1372).

Also:

The current Cucmber-Rust approach is a combination of the JavaScript and Java:

- The CKK messages and fatures are copied in to Gherkin-Rust (Java)
- Gherkin-Rust is a separate crate (JavaScri

[2021-03-07 00:12] bbros-dev opened #112 "[Spec] CCK Report: Tool/workflow"
[code]

Existing implementations provide a guide:
 - Specifically: https://github.com/cucumber/cucumber-js/blob/master/compatibility/cck_spec.ts

[This comment from the upstream lead](https://github.com/cucumber/cucumber/issues/1400#issuecomment-792117710) provides helpful guidance:

[2021-03-09 21:52] #112 closed

[2021-03-09 21:52] #111 closed

[2021-03-09 21:53] #110 closed

[2021-04-15 20:21] crocme10 opened #117 "tear down my world"
Hello,

Thank you for your library.

I'm starting to use it, and I have this use case where the `given` clause builds something, which needs to be destroyed.
I initialy thought I'd implement `Drop` on `MyWorld`, but the function I need to call in there is async. And I can't get myself a runtime, so I'd like to know if you have any suggestion.

Thank you

[2021-04-16 07:55] crocme10 commented on #117
Investigating the question a bit further, I see there are hooks, `@after` and `@before`, which could be used for that purpose, but they don't seem to be implemented.

[2021-04-30 09:49] rikvdkleij opened #118 "Request for new release"
Could you please release a new version soon?
Our cucumber tests are based on the example project which depends on the main branch. In our project we prefer to only depend on released versions.

[2021-05-11 06:25] rudolphfroger opened #119 "Colors when output is not a TTY"
Currently Cucumber is using color codes even when the output isn't a TTY. For example in Jenkins one can see output like this:

    [0m[1m[34m[Summary]
    [0m[0m[1m[37m1 features
    [0m[0m[1m[37m1 scenarios ([0m[0m[1m[32m1 passed[0m[0m[1m[37m)
    [0m[0m[1m[37m6 steps ([0m[0m[1m[32m3 passed[0m[0m[1m[37m)
    [0m

I haven't tried but I can see one place which enforc

[2021-05-18 21:54] bbros-dev opened #120 "Fixture support as 1st class citizen"
Would be nice to have support for fixtures as first class citizen.

Below are specifications what functionality those features might provide, obviously adapted to Rust conventions:

https://relishapp.com/cucumber/aruba/v/0-11-0/docs/filesystem/use-a-fixture

[2021-06-08 00:59] qx opened #121 "it' s not work properly on clion test"
[code]

[2021-06-23 18:11] johnoneil commented on #50
I'm very interested in this feature or something similar.

As it stands, integration tests which use `cucumber-rust` must implement their own output formatter? How would this be done?

Perhaps, use `with_handler` to add event handlers, and append to a file when they're invoked? Traversing the `CucumberEvent` to get the feature and test results?

If there's anything you can point me to that shows t

[2021-06-28 12:49] jcornaz opened #123 "Add a configuration option for making not-implemented tests failures"
If there is a mismatch between the `*.feature` file and the the steps defined, we'll see an output like.

[code]

And the command line returns `0` (success).

But I don't want to have this to pass the CI and sneak in the main branch.

Ideally if any test was not implemented, the command line should return a failure. Eventually this could be a configurable behavior.

[2021-07-06 18:05] VexedPanda commented on #121
Note that you can avoid the error by removing .cli() from your Cucumber builder call.

However, it still doesn't cause outputs that clion can parse, so there's no success/fail entries in the test result tree, and a failure (even with returning 1) is still considered all tests passing by clion.

I'd really like to see cucumber-rust honor the json format request and output results in a way that matc

[2021-07-06 20:04] VexedPanda commented on #50
It looks like @Puciek started on this at https://github.com/Puciek/cucumber-rust/commits/feature/junit-output so that may be a good starting place

[2021-07-06 21:13] VexedPanda commented on #121
This may be the same as https://github.com/bbqsrc/cucumber-rust/issues/50

[2021-07-19 04:31] StyMaar opened #124 "Are “Cucumber Expressions” supported ?"
I couldn't find any references to them, in documentation, examples or even implementation code.

 For the record, [Cucumber Expressions](https://cucumber.io/docs/cucumber/cucumber-expressions/) are the usual way to write step definitions in most languages, it's slightly less powerful than Regex but much more readable.

For example consider:

vs

(Float regex matcher taken from [Stackoverflow](http

[2021-07-19 14:09] bbqsrc commented on #121
Dupe of #50 most likely.

[2021-07-19 14:09] #121 closed

[2021-07-19 14:12] bbqsrc commented on #124
I do not believe so. Might be something for someone to investigate. 😄

[2021-07-19 14:27] bbqsrc commented on #118
Published v0.9.0.

[2021-07-19 14:35] bbqsrc commented on #89
Exists as `cucumber_rust::skip!()`.

[2021-07-19 14:35] #89 closed

[2021-07-19 14:36] bbqsrc commented on #117
v0.9.0 has this now, but is largely undocumented.

You can see an example in the [examples repo.](https://github.com/bbqsrc/cucumber-rust-example/blob/main/tests/cucumber.rs#L36-L39)

[2021-08-17 15:24] Andrepuel commented on #80
https://github.com/bbqsrc/cucumber-rust/blob/main/src/cucumber.rs#L100

Looks like this line does not make sense anymore.

Besides the problem mentioned here, what are your thoughts on using the library anyhow on steps definitions? Right now, a step can never fail. We could have something like:

    pub struct StepsExample<W> {
        __marker: std::marker::PhantomData<W>,
    }
    impl<W> Steps

[2021-08-17 16:02] Andrepuel commented on #80
I noticed that the error reporting fails only on async steps. Probably because we reset the panic hook, which tokio (using tokio on my experiments) also needs to set.

I think the best approach would be to depend on some Async runtime (tokio or async-std) and then use spawn for async steps. Instead of setting a hook for panic, we just use the JoinHandle to fetch if the task failed with panic.

[2021-08-25 11:55] florianrein opened #126 "v. 0.9.0: Setting the default language in the Cucumber builder is not applied during test execution"
**Prereqs**
- 2 Feature Files doing exactly the same, but one is using default Gherkin keywords in English, and one uses German keywords
- the latter has the magic comment: `# language: de`
- .language("de") is set in the creation of the runner

**Steps to reproduce**
1. cargo clean
2. cargo test

**Actual Result**
Both feature files are executed.

**Expected Result**
An error message should be th

[2021-09-06 14:44] rob-mur opened #127 "Produce output JSON for integration with Cucumber for Jira"
In order to integrate properly with Jira, an output file needs to be produced after the tests are ran with the following schema available [here](https://github.com/cucumber/cucumber-json-schema/blob/main/schema.json)

I think I remember seeing this in the help section of the cli some versions ago but it isn't in the latest version. Can I first ask if this is a planned feature at some point?

If no

[2021-09-07 09:43] rob-mur commented on #127
To flesh this out some more, here are the things we need to be able to tease out for a minimal implementation:

For each feature:
- Name
- URI (path to feature file)

For each element, in the simple case I think this is just each scenario:
- Type (Scenario/Scenario Outline)
- Line (line number in feature file)
- Name

For each step:
- Keyword (given/when/then)
- Line
- Result (not strictly require

[2021-09-11 18:51] rob-mur commented on #127
I've started on the above by fleshing out the basic AST that would be required. Once each of the elements can be sourced and populated from cucumber as it runs, producing the output should be easy - although it will need to interface with the cli appropriately.

The AST I've come up with is as follows, suggestions welcome:
[code]

Note that the final result would be a:
[code]

[2021-09-14 21:46] rob-mur commented on #123
From a brief look at the documentation I think we want to change the following code to include skips if specified in the config:

[code]

I'll put it on my list to look at hopefully in the next week or two, but this should be a super simple one to do if anyone has more time!

[2021-09-16 21:22] bbqsrc commented on #126
Probably a bug. Hope to look at it soon, a bit of a strange regression that one.

[2021-09-20 16:57] damoon opened #129 "Option to only show failed and/or skipped scenarios"
after only adding (what feels to me like) only a few tests the output becomes overwhelming.
it would be nice to have the option to hide all the successful tests and focus on the failing or not yet implemented tests.

[2021-09-27 10:59] tyranron commented on #62
GIFs have been returned in #128

[2021-09-27 10:59] #62 closed

[2021-09-27 11:00] tyranron commented on #119
Resolved in #128

[2021-09-27 11:00] #119 closed

[2021-09-27 11:03] tyranron commented on #63
Mostly resolved in #128, some biskeshedding still needs to be done before a 0.10 release, though.

[2021-09-27 11:09] tyranron commented on #64
After #128 is possible by using regexes.

@ilslv would you be so kind provide a meaningful example of this? It's even better to provide the one in the book as a separate PR and reffer here.

[2021-09-27 11:09] tyranron commented on #71
Fixed in #128

[2021-09-27 11:09] #71 closed

[2021-09-27 11:10] tyranron commented on #80
Fixed in #128 as parsing errors are now propagated.

[2021-09-27 11:10] #80 closed

[2021-09-27 11:11] tyranron commented on #86
Fixed in #128

[2021-09-27 11:11] #86 closed

[2021-09-27 11:11] ilslv commented on #64
@tyranron I'll dedicate additional chapter with concrete examples of usage

[2021-09-27 11:14] tyranron commented on #88
Fixed in #128

[2021-09-27 11:14] #88 closed

[2021-09-27 11:15] tyranron commented on #102
Now possible with `Cucumber::language()` after merging #128

@ilslv again, we should provide a meaningful example in the Book.

[2021-09-27 11:17] tyranron commented on #103
Can be done by `Cucumber::filter_run_and_exit()` after merging #128

@ilslv let's describe this in the Book too.

[2021-09-27 11:19] tyranron commented on #123
Now possible after merging #128

@ilslv we need a meaningful example in the Book for this too.

[2021-09-27 11:20] tyranron commented on #126
Fixed in #128

[2021-09-27 11:20] #126 closed

[2021-09-28 10:00] tyranron commented on #55
@ilslv let's document this one too before releasing `0.10`.

[2021-09-30 07:29] ilslv opened #134 "CLI"
In `v0.10.0` `CLI` was removed, as we want to rework it for more flexibility. Based on [Java](https://cucumber.io/docs/cucumber/api/#options) and [JS](https://github.com/cucumber/cucumber-js/blob/main/docs/cli.md) I've came up with new `CLI` design:

[code]

[Cucumber tag expressions reference](https://cucumber.io/docs/cucumber/api/#tag-expressions)

[2021-09-30 08:34] #55 closed

[2021-09-30 08:39] tyranron commented on #55
Now described in ["Features" chapter of the Book](https://cucumber-rs.github.io/cucumber/main/Features.html#scenario-outline-keyword).

[2021-09-30 08:42] tyranron commented on #64
Described in ["Features" chapter fo the Book](https://cucumber-rs.github.io/cucumber/main/Features.html#scenario-outline-keyword).

[2021-09-30 08:42] #64 closed

[2021-09-30 08:43] tyranron commented on #102
Described in ["Features" chapter of the Book](https://cucumber-rs.github.io/cucumber/main/Features.html#spoken-languages).

[2021-09-30 08:43] #102 closed

[2021-09-30 08:45] tyranron commented on #103
Described in documentation for `Cucumber::filter_run_and_exit()`, and mentioned in ["Managing growth" chapter of the Book](https://cucumber-rs.github.io/cucumber/main/Test_Modules_Organization.html#managing-growth).

[2021-09-30 08:45] #103 closed

[2021-09-30 08:47] tyranron commented on #123
Described in docs for `Cucumber::fail_on_skipped()` and mentioned in ["Managing growth" chapter of the Book](https://cucumber-rs.github.io/cucumber/main/Test_Modules_Organization.html#managing-growth).

[2021-09-30 08:47] #123 closed

[2021-09-30 08:59] tyranron commented on #82
@ilslv please, re-check this.

[2021-10-04 11:55] #82 closed

[2021-10-04 11:57] tyranron commented on #129
Resolved in #133, mentioned in the Book, and documented in Rust docs with examples.

[2021-10-04 11:57] #129 closed

[2021-10-04 15:18] tyranron commented on #124
@ilslv what do you think? I think this can be fully done on proc macro layer by simply translating cucumber expresion into regex during macro expansion. We don't even need to touch type machinery here.

[2021-10-04 15:19] bbqsrc commented on #124
That would be the sanest way to do it.

[2021-10-04 15:20] tyranron commented on #124
The proposed syntax may be `#[then(expr = "I have {float} cucumbers in my belly")]`

[2021-10-04 15:43] ilslv commented on #124
@tyranron sounds like the way to do it.

I propose adding support for [Parameter types](https://github.com/cucumber/cucumber-expressions#readme) and leaving custom parameters for already existing `FromStr` feature.

So Kotlin's example

[code]

will be implemented as follows:

[code]

[2021-10-10 07:37] darrow-olykos opened #138 "This repo's example does not work with rust: syntex_syntax error `cx.parse_sess.span_diagnostic` as immutable because it is also borrowed as mutable"
Given rust version is 1.55
And the example is copied from this repo documentation

When "cargo test" is executed
Then tests should pass

Instead, this error occurs:
[code]

Does this mean this `cucumber` crate is currently incompatible with rust v1.55?

[2021-10-10 16:32] darrow-olykos commented on #138
@ilslv I used docs from `edge` book because `current` link shows 404 pages.
The Cargo.toml on edge uses 0.10.0.

Using `cucumber = { git = "https://github.com/cucumber-rs/cucumber/" }` works 👍 ✅

Thank you

[2021-10-10 16:32] #138 closed

[2021-10-10 16:35] darrow-olykos commented on #138
Should this issue remain open until the crate published to crates.io is compatible with this version of rust?
That version is "0.3.1" and that also causes [this error](https://github.com/cucumber-rs/cucumber/issues/138#issue-1021907145)

[2021-10-10 16:40] ilslv commented on #138
@darrow-olykos it's ok to leave it closed I guess.

But I'll look into a way to automatically use `cucumber = { git = "https://github.com/cucumber-rs/cucumber/" }` or `cucumber = 0.10` depending on which book (edge or current) you are currently viewing.

[2021-10-11 10:37] StyMaar opened #139 "Documentation far out of date on docs.rs"
The latest version of the documentation [available on docs.rs](https://docs.rs/cucumber/) is 0.3.1 released in July 2018.

[2021-10-12 07:50] tyranron commented on #56
@ilslv let's move this question to a separate dedicated issue then.

[2021-10-12 07:55] tyranron opened #140 "Support output verbosity"
Revealed from https://github.com/cucumber-rs/cucumber/issues/56#issuecomment-940744148

We need a way to allow setting `writer::Basic` output verbosity via CLI, while considering possible custom `Writer` implementations with or without changing the CLI.

[2021-10-14 09:04] tyranron commented on #42
Resolved in #136. Now captures are higlighted with a __bold__ style.

[2021-10-14 09:26] ilslv opened #141 "Return before and after hooks"
In `0.10.0` before and after [hooks](https://cucumber.io/docs/cucumber/api/#hooks) were removed. We should restore them.

[2021-10-18 11:45] #141 closed, assigned to ilslv

[2021-10-19 13:27] ilslv commented on #134
Discussed:

We want then every swappable part (like `Parser`, `Runner` and `Writer`) to have it's own strongly-typed set `CLI` arguments. This can be done by using `#[clap(flatten)]` with a generic `clap::Arg` provider. The only problem is that at the time `clap` derive-macros doesn't support generic arguments

- https://github.com/clap-rs/clap/issues/2769

But `structopt` recently have added basi

[2021-10-21 11:31] ilslv commented on #58
@tyranron this feature can't really be implemented, as those options are implemented by default test harness, which we are turning off with `harness = false`.

But #144 supports all possible similar options and introduces ability to add custom CLI options. For `--test-threads` see https://github.com/cucumber-rs/cucumber/pull/144#issuecomment-948394327

All possible options supported by default tes

[2021-10-25 17:12] #140 closed, assigned to ilslv

[2021-10-31 11:14] evergreen-trading-systems opened #148 "Multiple `World` fails"
Please add some gotchas or common pitfalls to docs.

FAILS `conflicting implementation for CucumberThenRegexAsync`
[code]

[2021-10-31 13:37] evergreen-trading-systems opened #149 "`Println` doesn't work"
https://github.com/cucumber-rs/cucumber/issues/92 doesn't work using macros

[code]

[2021-11-01 05:59] ilslv commented on #148
@evergreen-trading-systems actually proc-macros where designed with this feature in mind. But `WorldInit` produces structs with the same names. Fixed and covered with tests to avoid regression in #150

For now you can place your `World` declarations in separate modules and re-export them
[code]

[2021-11-01 06:27] ilslv commented on #149
@evergreen-trading-systems please provide version you are using, because I can't reproduce it on latest `v0.10`

Modified readme example:
[code]

To see output you should run `cargo test --test readme -- --color=never --concurrency=1`. `--color=never` is used because by default `writer::Basic` pretty-prints by overriding previous statements, so user output can interfere. `--concurrency=1` should b

[2021-11-02 13:34] jenisys opened #152 "Gherkin Step support for docstring/text and table args are missing?"
The support for the following `Step` attributes/arguments seems to be missing after inspecting the `cucumber::runner::basic::Executor::run_step()` implementation:

* `step.table` (aka: datatable; for simple structured data)
* `step.docstring` (aka: text; for a longer text string)

HINT: Both attributes are provided by the `gherkin::Step` structure.

PROBLEM: `step_fn(&mut world, ctx)`

* Only `wor

[2021-11-02 14:20] ilslv commented on #152
@jenisys [actually `Context` contains `Step`](https://github.com/cucumber-rs/cucumber/blob/main/src/step.rs#L210)

And attribute macros make it pretty easy to take out `Step`: name one of your `Step`-function parameters `step` or use `#[step]` attribute. Described in docs [here](https://github.com/cucumber-rs/cucumber/blob/main/src/step.rs#L210)

[2021-11-02 14:34] jenisys commented on #152
@ilslv I saw your answer just now. Thanks  ;-)

[2021-11-02 14:39] ilslv commented on #152
@jenisys It's even better that you've found those features by yourself. That means documentation is reasonable enough)

Agreed, I'll add it to the `Features` chapter of the [Book](https://cucumber-rs.github.io/cucumber/main/Features.html)

[2021-11-03 08:59] #148 closed

[2021-11-03 09:42] tyranron commented on #148
@evergreen-trading-systems fixed in #150 and released in `0.10.2`.

[2021-11-05 16:25] theredfish opened #155 "Moving structopt to clap (clap_derive)"
Clap recently introduced [clap_derive](https://github.com/clap-rs/clap/tree/master/clap_derive) . Would it be ok if I propose a new PR to integrate the changes and move to it?

structop is using clap behind the scene and will be [soft-deprecated](https://github.com/clap-rs/clap/blob/master/FAQ.md#how-does-clap-compare-to-structopt) in favor of clap_derive.

Before proposing a new PR for this I jus

[2021-11-05 16:34] tyranron commented on #155
@theredfish we've [used `clap`](https://github.com/cucumber-rs/cucumber/blob/354112097a389c4949e42433f02364d054df0f28/Cargo.toml#L35), but [intentionally have switched to `structopt`](https://github.com/cucumber-rs/cucumber/pull/144), because at the moment of out investigation `clap_derive` lacked support for flattening over type parameters, which we're using to make our CLI composable.

We're goi

[2021-11-05 16:38] theredfish commented on #155
Oh ok yes definitely! I will keep you updated 👍

[2021-11-05 17:26] tyranron commented on #149
Closing this, @evergreen-trading-systems feel free to reopen if you need further assistance.

[2021-11-05 17:26] #149 closed

[2021-11-09 11:46] #50 closed

[2021-11-09 17:17] tgsmith61591 opened #156 "How to run a single tag only?"
The [doc suggests](https://cucumber-rs.github.io/cucumber/current/Features.html#cli-options) running a subset of tags works. However, I cannot get this to work in my Cucumber project:

[code]

How can I select which tag to run?

[2021-11-09 17:46] ilslv commented on #156
@tgsmith61591 first of all please provide version you are using

Our docs say following:

[code]

Note existence of `--test <test-name>`. It's required to specify single Rust test to run, while running `cargo test -- --tags='@cat or @dog or @ferris'` tries to execute all existing tests, which can be unit or doc tests. They don't know nothing about cucumber cli options.

[2021-11-09 18:31] tgsmith61591 commented on #156
I'm on version 0.9.0. Once I provided `<test-name>`, I've begun to get a different error.

Here is my `Cargo.toml`:

[code]

To trigger the test: `$ cargo test --test cucumber -- --tags='@music'`, results in a new error:

[code]

[2021-11-09 18:57] ilslv commented on #156
@tgsmith61591 documentation you referred to is for `v0.10` and later. Since `v0.9` crate even got renamed from `cucumber_rust` to `cucumber` and many more changes that you can see in changelog.

You have 2 options:
1. Upgrade to the new version and use redesigned cli options
2. Use `v0.9` cli options.
  There was no documentation for it, but I remember it being present. #67 suggests the same. From

[2021-11-09 20:56] tgsmith61591 commented on #156
Thanks @ilslv! By upgrading to 0.10.2 I was able to get the `--tags` argument to work. However, I should point out it seems parsing tags at the `Feature` level does not work:

[code]

Gives:

[code]

vs.

[code]

Gives:

[code]

It's not too painful to add the tags directly to scenarios, but may be worth looking into...

[2021-11-10 04:39] ilslv commented on #156
@tgsmith61591 yes, `Feature` tags are ignored by design. Every other implementation I saw does the same thing. This is mainly done to avoid situations when in big `.feature` file you are adding a new `Scenario`, but its tags get overwritten by `Feature` ones.

To be fair, you can use `Feature` and `Rule` tags inside [`Cucumber::filter_run(_and_exit)?`][1] methods, where you have more control compa

[2021-11-10 04:39] #156 closed

[2021-11-10 11:43] ilslv commented on #127
@rob-mur I've looked through [`cucumber-json-testdata-generator`][1] and it looks like, the spec completely skips `Rule` support. Do you know something about it?

[1]: https://github.com/cucumber/cucumber-json-testdata-generator/tree/master/features

[2021-11-10 13:05] tyranron commented on #120
@bbros-dev could you explain this a little bit better. From the description and the link it's not obvious enough for me to understand how this should look like and work.

It would be nice if you provide a better explanation along with code snippets of how this should work.

[2021-11-10 14:34] tgsmith61591 commented on #156
Understood. For what it's worth, [Godog](https://github.com/cucumber/godog) (Golang) and [behave](https://github.com/behave/behave) (Python) both support this behavior. It's not a big deal, but makes portability a bit of an issue.

In any case, thanks for your help!

[2021-11-10 20:28] rob-mur commented on #127
Hi, I think that's the right approach. I spoke with SmartBear a while back and they said they were targeting that schema I referenced (at least as of 2 month ago). So if we get the tool to produce output in line with that we will match what they are expecting, and then just add future functionality as required if they change it.

Hope that helps!

[2021-11-15 18:01] #127 closed

[2021-11-16 09:42] FirelightFlagboy opened #161 "Fail to parse feature when template are touching each other"
## Context

Given the following scenario

[code]

I'm getting the following error

[code]

The error is present on the following version:
- ab430cc (current `main` at the time)
- `0.10.2`

## How to replicate

[code]

## What I'm expecting

I'm expecting the Feature to be correctly parsed

[2021-11-16 11:35] ilslv commented on #161
@FirelightFlagboy I've looked through all test cases and issues across all implementations and couldn't find usecases like this. This means I'm not sure whether this should be considered as a parsing error or not, as `Gherkin` doesn't have strict grammar and compatibility is defined through being compliant with [official test kit][1].

I'll leave this issue open, but I don't think it will be resol

[2021-11-16 11:46] tyranron commented on #161
@ilslv is the problem source in `gherkin` parser?

[2021-11-16 11:50] ilslv commented on #161
@tyranron @FirelightFlagboy never mind, this issue appears because of `<(\S+)>` regex in `feature::Ext` trait impl. Regex should be `<([^>]+)>`

[2021-11-16 13:56] #161 closed

[2021-11-16 13:57] tyranron commented on #161
@FirelightFlagboy thanks for the report 🍻

[2021-11-17 05:11] ilslv commented on #155
`structopt`-like generics support just got [merged], so it looks like we can migrate to `clap v3.0.0-beta.6` once it gets released.

[merged]: https://github.com/clap-rs/clap/pull/3023

[2021-11-17 10:07] FirelightFlagboy commented on #161
Thanks for the fix :)

[2021-11-17 19:25] tgsmith61591 opened #164 "Failure to parse feature file with multiple tags in a scenario outline"
**Version:** 0.10.2

I have a feature file that resembles:

[code]

This works when I run:

[code]

However, the tests are very long running, and there are quite a lot of them. I would like to split some examples into `@smoke`, which will run for CI jobs, and `@nightly`, which will only run on a nightly cron. Something like:

[code]

Where smoke jobs will run with:

[code]

### Problem 1:

This ca

[2021-11-18 05:25] ilslv commented on #164
@tgsmith61591 thanks for looking into it. It's very helpful to see people experienced in other `cucumber` implementations.

First problem mainly comes from `gherkin` not having strict specification and different implementations supporting different features. I'll try to fix this in [`gherkin-rust`][1] crate, but I'm not sure this won't break anything.

Second problem is in this crate and should be

[2021-11-18 12:46] tgsmith61591 commented on #164
Thanks for taking a look. I appreciate all the work you've put into this great crate!

[2021-11-23 13:04] ilslv commented on #124
Quoted from https://github.com/cucumber-rs/cucumber/pull/157#issuecomment-976457187

For custom parameters I propose something like this

[code]

With that we can validate that parameter name is right with const assertion. And to validate regex we can even use clippy lint : [Playground].
Also, as we have exact type, we can use deref-based specialisation to fallback on default parameter name in our

[2021-11-23 15:24] tyranron commented on #124
@ilslv well, in code it would be nice to have something like this:
[code]

Regarding `Regex` validation, I guess we may not bother about validating the whole `Regex` during proc macro expansion. A `Regex` is a constructive thing, so as long as we have valid sub-parts, building the whole part will be valid to. And we can vaidate all the sub-parts during proc-macro expansion this way:
- We check `An

[2021-11-24 07:22] ilslv commented on #124
@tyranron pretty much yes, but I would change couple of things:

In addition to validating we should check that regex doesn't contain capture groups itself. Because in case it is, those capture groups will be mapped onto the next step function argument.

Or we can just create `cucumber_expressions::ParameterProvider` which will return `"()"` on every parameter name, except defaults.

Also we shoul

[2021-11-24 11:42] tyranron commented on #124
@ilslv

Seems reasonable. But we still should allow `(?: )` groups as they allow express things, and be accurate with escaping (`\(` allowed, while `\\(` is not, and so forth).

Another way is just silently transform `( )` into `(?: )` so they won't capture anything and don't bother user at all about such nitpicks.

As a simplest way to do so - yes. But I proposed that way with a better errors red

[2021-11-26 00:33] johnoneil opened #167 "Issue with `resolver` feature that requires nightly."
I'm trying to move from the older `cucumber_rust` crate to this crate but running into an issue with a nightly feature being required in the `sealed ` crate.

To reproduce, I simply add the following (ignoring ellipses) to my `Cargo.toml`, and no further code.
[code]
Rust and Cargo versions on linux:
[code]

Get the following error
[code]

I don't see anything in the  `README.md` in this repo that

[2021-11-26 04:43] ilslv commented on #167
@johnoneil

Nightly isn't actually required, but `README.md` has badge about minimum supported Rust version, which is `1.56`.

[2021-11-26 04:44] #167 closed

[2021-11-26 17:02] tyranron commented on #156
@tgsmith61591

Now supported, and will be released in `0.11`.

[2021-11-29 16:11] tyranron opened #169 "Cucumber Messages protocol"
Revealed from https://github.com/cucumber-rs/gherkin/discussions/28#discussion-3257377

@ilslv what do you think about this? We have the similar thing in our implementation, but hand-baked. Should we support it as a bare-bone of our implementation, or rather have just yet another `Writer` for it?

[2021-11-29 18:28] tyranron commented on #124
With merging #168 now is fully implemented and will be released in 0.11.

[2021-11-29 18:28] #124 closed

[2021-11-30 05:41] ilslv commented on #169
@tyranron from what I can tell, we can easily support this with another `Writer` implementation, as we generate a lot more events, than just `Test(Case/Step)(Started/Finished)`. Those additional events allow us to skip some parsing stuff, like we don't have to count finished `Scenarios` for particular `Feature` to be sure, that it's finished. We can just wait for the `event::Feature::Finished`.

B

[2021-11-30 08:57] tyranron commented on #169
@ilslv

Or there will be a demand from library users for it.

[2021-12-01 10:07] tyranron commented on #164
Fixed in https://github.com/cucumber-rs/cucumber/pull/165#pullrequestreview-820039279 and https://github.com/cucumber-rs/gherkin/pull/29, and will be released in 0.11 soon.

[2021-12-01 10:07] #164 closed

[2021-12-01 21:48] rogertorres opened #172 "Allow scenario expansion for docstrings"
The scenario expansion currently replaces templates from both the step and its table.

https://github.com/cucumber-rs/cucumber/blob/e7387d469502dcc6286a5ef24204d33fc0d198e3/src/feature.rs#L158-L162

Do you think it is possible to add the step docstring into the mix? This would allow us to validate docstrings that are slightly different from one another in a single scenario.

[2021-12-02 00:52] Zylatis opened #173 "cannot infer type for type parameter `T` declared on the trait `AsRef`"
Hi there,

Just trying to compile and run the example in the book but i am getting the following
[code]

And the project setup looks like this
![example](https://user-images.githubusercontent.com/1456631/144337810-7039f418-9928-432c-968c-7b06d8befa98.png)

I feel like probably i'm missing something simple? I tried with rust 2021 too just in case, no dice. I also notice this `match` is not present

[2021-12-02 04:33] ilslv commented on #173
@tyranron it looks like we should have released `gherkin` under `0.11`, because changing `Examples` from `Option` to `Vec` is a breaking change and leads to this error.

@Zylatis you have couple of options:
- just wait couple of days for a new `cucumber` release
- downgrade `gherkin` crate to `10.1`
- use git dependency on `main` branch of this repo as this issue is already resolved there

[2021-12-02 05:16] Zylatis commented on #173
Perfect, works now - thanks!

[2021-12-02 05:16] #173 closed

[2021-12-02 16:57] tyranron commented on #173
@ilslv yup, that was unfortunate. 😕

But let's just land `0.11` release of `cucumber` and do yank `gherkin` only if more people will hit into it

[2021-12-02 17:02] tyranron commented on #172
@rogertorres could you provide a little bit wider example of such scenario and the code you do want in a step matching function?

[2021-12-02 18:12] rogertorres commented on #172
hey @tyranron, please consider the simplified example below:

[code]

The example's idea is to be able to replace `<number>` and `<action>`. In Rust, I would read the actual file and check if its paragraphs match the docstring expanded with the examples.

IRL, such feature would allow us to validate contents that are not structured, such as human-readable logs generated by other tools, making the

[2021-12-03 09:42] tyranron commented on #172
@rogertorres thanks! Seems quite reasonable.

cc @ilslv

Let's add it to upcoming 0.11 release.

[2021-12-06 07:05] ivanschuetz opened #174 "Can't parse @foo.bar"
This tag:
https://github.com/algorand/algorand-sdk-testing/blob/master/features/integration/applications.feature#L8
Cannot be parsed:
Failed to parse: Failed to parse feature

It seems works for other cucumber libraries (other langs).

[2021-12-06 07:17] ivanschuetz opened #175 "Can't parse feature"
This can't be parsed:

https://github.com/algorand/algorand-sdk-testing/blob/master/features/integration/indexer.feature#L3-L5

It seems to work on other libs/langs.

[2021-12-06 10:22] tyranron commented on #173
@Zylatis we've [yanked](https://doc.rust-lang.org/cargo/commands/cargo-yank.html) `0.10.2` version of `gherkin_rust`, so if you recreate your `Cargo.lock` this won't appear anymore.

Sorry for the incovenience.

[2021-12-06 10:54] alexmikhalevich opened #176 "Compilation error for release `0.10`"
I get a compilation error when trying to build a simple example. The compilation error occurs before my code starts to compile. I also tried to build the same example with the latest dev version from the release branch and it works.

Here is my code:
[code]

Here is my `Cargo.toml`:
[code]

Here is what I get:
[code]

I tried to build this both with `rustc 1.57.0 (2021-11-29)` and `rustc 1.56.1 (2

[2021-12-06 10:58] tyranron commented on #176
@alexmikhalevich see https://github.com/cucumber-rs/cucumber/issues/173 for more context.

This [should be fixed](https://github.com/cucumber-rs/cucumber/issues/173#issuecomment-986638093) now. Just re-created `Cargo.lock` so the yanked versions disappeare from it.

[2021-12-06 10:58] #176 closed

[2021-12-06 14:56] antonkol opened #177 "println! in steps is not working as expected."
i have few println! inside steps and when i am executing tests information in println! appears before all Cucumber log.

Something like this:
[code]

Is there a way to output println! below appropriate step ?

Something like this:
[code]

[2021-12-07 05:18] ilslv commented on #177
@antonkol unfortunately this is feature isn't supported. The main reason behind it is a concurrent `Scenario` execution. So to support this feature we somehow need to come up with mechanism to intercept output of the `println!` macro, somehow understand which step it belongs to from the context of the `Step` function, store all this data and only when the time is right output it.
Maybe this is pos

[2021-12-07 08:19] ivanschuetz opened #179 "Utility to generate boilerplate?"
Was just wondering whether a utility to generate Rust code based on features (empty functions with macros basically) exists or has been considered? This is likely out of scope for this crate, but couldn't find infos so thought to ask anyway.

[2021-12-07 14:27] ilslv commented on #179
Duplicate of https://github.com/cucumber-rs/cucumber/issues/106

[code]

[2021-12-07 14:27] #179 closed

[2021-12-07 17:41] #172 closed

[2021-12-07 17:49] tyranron commented on #177
@ilslv may be a clear explanation of how to run tests, so the custom output will appear naturally, will do the job?

Is `--concurrency=1` will be enough? Or we should also remove `writer::Normalized` from pipeline? Could you provide an example? I'll include the one to the Book in #171.

[2021-12-08 05:31] ilslv commented on #177
@tyranron

To achieve natural output, you'll need to do the following steps:
1. Create `writer::Basic::raw` with `Coloring::Never` to avoid interference with pretty-printed output
[code]
2. You'll need custom `Writer` like `AssertNormalized` which implements `Normalized` for any `Writer`, but does nothing. This isn't supplied by crate yet, but maybe we should?
3. Set `max_concurrent_scenarios()` t

[2021-12-08 08:38] tyranron commented on #177
@ilslv

It's not a problem though, as we have them close to the performed step.

Hmmm, I think we should add them, along with ext-helpers, so we have:
[code]

[2021-12-08 08:40] ilslv commented on #177
@tyranron

Oh, of corse no, left it by mistake

Ok

[2021-12-08 15:08] ivanschuetz opened #183 ""and" keyword / prevent step definition repetition?"
I've a step that's used after both a [given](https://github.com/algorand/algorand-sdk-testing/blob/master/features/integration/applications.feature#L12-L14) and [then](https://github.com/algorand/algorand-sdk-testing/blob/master/features/integration/applications.feature#L52-L54).

I couldn't find the `and` keyword and figured that I've to use `given` (etc.) respectively. In this case this leads to

[2021-12-08 15:43] #174 closed

[2021-12-08 15:59] ivanschuetz opened #184 "Serial execution without modifying feature files?"
The features I'm executing (https://github.com/algorand/algorand-sdk-testing/tree/master/features/integration) have to be serial.
Adding the `@serial` tag there is difficult, as it's used by 5+ other SDKs (langs) and it appears not to be part of the official specification (?). Would it be possible to configure this in code somehow?

[2021-12-08 16:02] ivanschuetz commented on #174
Thanks for the quick fix @ilslv @tyranron !

[2021-12-08 16:09] tyranron commented on #184
@ivanschuetz yup.

- Either use [`.max_concurrent_scenarios(1)`](https://docs.rs/cucumber/latest/cucumber/runner/basic/struct.Basic.html#method.max_concurrent_scenarios) when you constructing `Cucumber` as [shown here](https://github.com/cucumber-rs/cucumber/issues/177#issuecomment-988513310).

- Or just specify `--concurrency=1` CLI option like the following:
[code]

This topic will be covered be

[2021-12-08 16:09] #184 closed

[2021-12-08 16:13] tyranron commented on #177
Done. Now it's only left to describe in new Book in #171.

[2021-12-08 16:39] tyranron commented on #183
@ivanschuetz we have a lot of similar situations. You should write the whole step definition twice, it would be enough to only place 2 attributes on the same function like this:

[code]

And we unlikely will change this, as we do prefer explicit separation between `Given`, `When` and `Then` types of steps.

-------------------------

In addition, I also recomend you to consider using more [data ta

[2021-12-08 19:00] ivanschuetz opened #185 "Recommended way to refactor common step definitions?"
When there are identical steps definitions for different features, what's the best way to refactor them?

From what I've seen so far, each feature/file is connected to a world, which has its own step definitions, so probably it's not possible to reuse directly step definitions (?). Should I just extract the code to regular shared functions?

[2021-12-08 19:03] ivanschuetz commented on #183
Okay that makes sense.

I'm not in charge of the feature specifications but will forward, thanks!

[2021-12-08 20:09] eggyal commented on #183
[Officially](https://cucumber.io/docs/gherkin/reference/#steps):

Personally I think it's wrong to diverge from this approach.

[2021-12-09 05:11] ilslv commented on #185
@ivanschuetz if I understood your question correctly, there is no need to refactor anything in your case.

Each `Step` function is connected to the particular `World` implementation. When you create `Cucumber` instance linked to a single `World`, all `Feature`s which are matched by path and filter will be matched against `World`. So most of the time you don't need multiple `World`s, as each `World

[2021-12-09 05:17] ilslv commented on #183
@eggyal we are aware of the official implementations and explicitly choose another way of doing this, because we think it's more flexible.

[2021-12-09 07:18] eggyal commented on #183
Understood, but one problem such divergence creates is that feature files are not portable across implementations.

[2021-12-09 12:35] ivanschuetz commented on #185
I see. If I understand you correctly, I'd have to share the same world for these (mostly unrelated) features:

https://github.com/algorand/algorand-sdk-testing/blob/master/features/integration/abi.feature#L5-L6, https://github.com/algorand/algorand-sdk-testing/blob/master/features/integration/applications.feature#L4-L5,
https://github.com/algorand/algorand-sdk-testing/blob/master/features/integrat

[2021-12-09 13:05] ilslv commented on #185
@ivanschuetz you can use different `World`s for different `Feature`s by specifying concrete paths in `World::run()` method, but it's not recommended.

We have 90+ features and 800+ scenarios and it hasn't been a problem for us. To be fare I don't see how it can be problematic, especially when we pass everything by `&mut` ref avoiding unnecessary overhead.

[2021-12-09 13:24] ivanschuetz commented on #185
Hmm other of the SDKs do it like that, but I found it difficult to read and work with, as it's difficult to follow what belongs where. Also:

https://cucumber.io/docs/cucumber/state/?sbsearch=World

Just my "first impression" - just started working with cucumber. Global state like that is often avoided.

That said, I realize that it can be impractical if you have to run the tests using different f

[2021-12-09 13:53] tyranron commented on #183
@eggyal

Could you provide an example where this makes unportable a `.feature` file exactly?

Because the difference has nothing to do with a `.feature` file itself, but rather deviates in how you're declaring step matching functions. It doesn't limit you to reuse the same step matching functions for `.feature` files in any way. The separations only allows you do more, as enlarges the space of pos

[2021-12-09 14:10] eggyal commented on #183
In this implementation, one can write:

[code]

and semantically that's two separate steps with different meanings (albeit the user *can* implement them with the same code).

However, if that feature file was then ported to another implementation, the *semantics* would change so that the two statements are necessarily a repetition of one single step.

The rule now has different meanings across the

[2021-12-09 15:04] tyranron commented on #183
@eggyal

User may also implement them with different code _preserving the same semantics_.

You're claming that semantics of a `.feature` file are defined by one of its implementation. But this point makes no sense to me, as goes agains BDD spirit. A `.feature` file itself  should define the described semantics, while the implementation should check whether it's upholden.

Steps separation only pr

[2021-12-09 16:27] tyranron commented on #185
@ivanschuetz notice, that we don't have global state in this Cucumber implementation particulary. A new fresh `World` is created for each `Scenario` and is used exclusively by it (that's why we have `&mut World` in signatures).

Of course, you still may organize some global state by putting into `World` references to some global statics or other shared state (so the references will leave per scena

[2021-12-09 17:08] tyranron opened #186 "Summary doesn't respect --color=never"
<img width="538" alt="Screenshot 2021-12-09 at 18 07 59" src="https://user-images.githubusercontent.com/7114909/145442992-235100d8-491a-4137-8655-dd1244b2b40a.png">

[2021-12-09 21:30] tyranron commented on #155
@ilslv [`3.0.0-rc.1` has been released](https://docs.rs/clap/3.0.0-rc.1/clap/index.html)

[2021-12-09 22:14] theredfish commented on #155
Do you plan to make the update ? I'm still available to make the update if you want. Let me know

[2021-12-10 05:53] ilslv commented on #183
@tyranron

To be fair, all `cucumber` implementation support passing `Step` into the callback function, where you can match on the keyword type. So all implementations won't stop you from doing this.

In our codebase, we have many cases where `given` and `when` steps are implemented in the same function, differentiating only somewhere in the end in the way we store the result of previous calculati

[2021-12-10 08:34] tyranron commented on #155
@theredfish as we've said before, we would love to see a PR. So, go ahead!

[2021-12-10 08:49] #175 closed

[2021-12-10 08:51] tyranron commented on #183
@ilslv

What exactly would change? Can you provide a more concrete example? As far as I see, this shouldn't change our existing test suites anyhow, so no split should be required. There are only situations where the same phrase was matched by different function already (so we can match over `Step` and unit them, or just change the phrase for one of them).

Yup, that makes sense too.

We definitely

[2021-12-10 13:34] 50U10FCA7 opened #187 "Scenario execution priority attributes"
Priority attribute tells the executor how early need to add scenario to the execution queue.

In some cases there is no way to tell the executor to run scenarios in specific order.
For example: Scenarios that will be executing for a long time must be added to execution queue before others.

Design proposal:

[code]

Scenarios with lower priority value will be added to execution queue earlier (or v

[2021-12-11 16:25] ivanschuetz commented on #185
Hey! Yes - putting everything in a single `World` seems to make the most sense.

My initial attempt was to create a separate `World` per feature: https://github.com/manuelmauro/algonaut/blob/main/tests/features_runner.rs
This is the `World` and definitions for one of the features:
https://github.com/manuelmauro/algonaut/blob/main/tests/step_defs/integration/applications.rs
(haven't implement more

[2021-12-13 04:37] ilslv commented on #183
@tyranron

Yeah, you are right.

I also found a similar discussion in official `cucumber` repo: https://github.com/cucumber/common/issues/768
TLDR: there is a proposal to make behaviour similar to ours, but even stricter: disallow declaring steps with same name but different keywords. Good summary from the discussion:

And from what I can see, maintainers of the official `cucumber` are agreed, tha

[2021-12-13 04:41] ilslv commented on #185
@ivanschuetz it looks like your question has been resolved, can we close this now?

[2021-12-13 04:53] ilslv commented on #187
@50U10FCA7 @tyranron

To really solve this issue, in addition to the `@priority=n` tag, we improve default `Runner`. For now, in case of concurrent steps, it collects batch of the `Step`s to execute and waits for until __all__ are complete. We should start executing next `Step` right after any of them is finished.
Also maybe we should leave an option to wait for all `Step`s in the batch, as it may

[2021-12-13 06:46] #185 closed

[2021-12-13 10:23] tyranron commented on #187
@ilslv I'm not sure this is the responsibility of a `Runner`. It seems that a `Parser` may decide which `Features` should be fed first to the `Runner` (however, `Runner` still should be able to distinguish that on `Scenario` level).

This priority issue doesn't have high priority for us at the moment 😊
We can give it some time and think about better designs.

That would be worthful improvement any

[2021-12-13 10:30] ilslv commented on #187
@tyranron

If in the batch there is `Scenario` which is very heavy to execute and other concurrent `Scenario`s may throttle it, our batch approach may be helpful, as batch will shrink over time and lower load on the tested target. But maybe it's better to use `@serial` in such cases.

[2021-12-13 10:35] tyranron commented on #187
@ilslv yup, or even lower/higher `@priority`.

[2021-12-13 10:56] tyranron commented on #183
@ilslv

It would be nice if they had designed so from the start. However now, we (and they) are tightened hard by existing and legacy codebases.

If we do so, the issue raised by @ivanschuetz at the start of the topic won't be possible to be resolved at all, because there is an existing large features set abusing this rule and is being used/referenced by many implementations. While with the curren

[2021-12-13 10:56] #183 closed

[2021-12-13 11:01] ilslv commented on #183
@tyranron

I think it will be useful to include those recommendations inside the Book and revisit all existing code samples to make sure that we follow them.

[2021-12-13 14:15] #186 closed

[2021-12-13 18:00] johnoneil opened #190 "README examples confusing"
I'm trying to move from the old `cucumber_rust` crate to `cucumber` as is recommended but am very confused by the initial `README` and implementation of new template based rules.

First, even though a similar `.feature` file is present in the examples, there is no similar test code within the crate. So these examples seem only notional to me.

I'll mention each case individually:

[code]

I assume

[2021-12-13 18:04] eggyal commented on #190
`?:` at the start of a group means that it's non-capturing.  See https://docs.rs/regex/latest/regex/#grouping-and-flags

[2021-12-13 20:02] johnoneil commented on #190
Thanks for your help. I've made the transition to the newer syntax, but am running into some issues building on rust 1.57.0 (`syntex_syntax` related). Our use case is probably a bit complex so I can't easily discern if we're using the crate properly.
Going to drop it for now and see how this develops over the next few months.

[2021-12-13 20:02] #190 closed

[2021-12-21 21:06] #155 closed

[2021-12-22 18:13] tyranron commented on #177
Done.

[2021-12-22 18:13] #177 closed

[2021-12-23 14:33] yds12 opened #192 "Command line option to disable printing `World` when there are failed tests or panics"
Hello,

First of all, thanks for the work on this awesome crate.

If I understand correctly, currently there is no way to disable printing the `World` in error messages. Whenever there is a failed test or panic, the whole `World` struct is printed. In some use cases this object can be quite large, making the errors difficult to navigate.

Would it be possible to add a command line flag that contro

[2021-12-23 20:08] tyranron commented on #192
cc @ilslv
Let's do this as `writer::Basic`'s CLI option and `pub` method before 0.11 release.

[2021-12-23 20:20] tyranron commented on #192
@ilslv also, I think it's worth to bind it to the exisiting `verbosity` CLI option, so by default world is not printed, but with `--verbose` yes. What do you say?

[2021-12-24 06:25] ilslv commented on #192
@tyranron I would split them, because I think that default behaviour should be "print failed world, but not the docstring". One reason for that is I saw some of users of this crate using docstrings as some kind of spec, [including graphql query there for example](https://github.com/cucumber-rs/cucumber/issues/56)

[2021-12-24 10:01] tyranron commented on #192
@ilslv what about verbosity levels? `-v` prints world and `-vv` prints doc strings?

[2021-12-24 10:03] ilslv commented on #192
@tyranron good idea 👍. I don't think there will be a case when someone wants to print docstrings, but not the world.

[2021-12-24 10:13] tyranron commented on #192
@ilslv so, let's do it this way.

[2021-12-24 11:51] theredfish commented on #192
If there is no verbosity option passed, nothing will be printed? Or will you add a default option?

[2021-12-24 11:55] ilslv commented on #192
@tyranron

I believe that by default we should print `World` and problem this verbosity flag is that we can set `-v` by default, but there is no way to downgrade from here. We can make `-v` do nothing, `-vv` print `World` (and be default one), `-vvv` print both `World` and docstrings, but I'me sure this is idiomatic approach for verbosity flags. So I would stick with additional `bool` flag.

[2021-12-24 12:29] tyranron commented on #192
@ilslv why not just `-v 0`, `-v 1`, `-v 2` with a `-v` implied `-v 1` by default?

[2021-12-24 12:47] ilslv commented on #192
@yds12 @theredfish what do you think should happen _by default_ on failed `Step`s: printing `World` or not?

[2021-12-24 12:52] yds12 commented on #192
@ilslv I would say not by default.

[2021-12-24 13:03] theredfish commented on #192
I see printing the `World` as extra debug info, that I would prefer to opt-in if I need it. I think that the assertion message on failed `Step`s is enough as a default behavior - then if I need to debug more I can re-run failed tests with the `World` output.

[2021-12-25 13:11] #63 closed

[2021-12-27 17:45] #192 closed

[2021-12-28 11:27] tyranron commented on #93
Closing this as the whole thing has been changed since then. Feel free to reopen, if needed.

[2021-12-28 11:27] #93 closed

[2021-12-29 15:31] rob-mur opened #194 "Json CLI Argument"
Hi

I've been having a go at using CLion for rust with Cucumber, and have ran into an issue.

When tests are ran they append a ```format=json``` argument to the inner test harness. This is different to the JSON output required by smartbear for their cucumber for jira integration, an example of what standard lib tests output is below:

[code]

This looks relatively simple, and I'm not sure yet whic

[2021-12-29 19:02] tyranron commented on #194
@rob-mur I cannot really grasp what you're after here. Could you provide a little bit more of context?

Regarding JSON exapmples, aren't they about [Cucumber Messages protocol](https://github.com/cucumber-rs/cucumber/issues/169)?

[2021-12-29 19:31] rob-mur commented on #194
So I don't think this is related to cucumber but rust more generally. One of the cli options of cargo test is -- --format which clion is using to get JSON output of the tests (just pass fail pieces I think).

The issue is that this cli argument is passed in to the test harness (in this case cucumber) which currently throws an error (at least for me on the latest release).

I'm away from my pc but

[2021-12-29 20:09] rob-mur commented on #194
The exact error I'm getting is
[code]
I'll see if I can narrow down where exactly this is happening.

[2021-12-30 05:58] ilslv commented on #194
@rob-mur the problem with CLion is, that it's always expects [default test harness](https://github.com/rust-lang/rust/blob/master/library/test/Cargo.toml) which has `--format=json` option. Our crate requires you to specify `harness = false` to be able to hijack `cargo test` command. [This article](https://www.infinyon.com/blog/2021/04/rust-custom-test-harness/) may also help.
For example you can s

[2021-12-30 11:09] rob-mur commented on #194
Thanks for the response. I'll have a go later and see what the result is with that argument skipped as you suggest.

It may be however that this output is required to integrate properly with the IDE and then we could look in to taking this argument and producing an equivalent output?

[2021-12-30 11:13] ilslv commented on #194
@rob-mur

I'll look try to look into that and maybe implement custom `Writer` for that purpose if it's possible.

[2021-12-30 14:22] rob-mur commented on #194
I've had a go, and using a custom cli struct for format, Z and show-output, you can get CLion to run the tests.

This is already a great step forward as it allows you to utilise the CLion debugger in tests so many thanks for that!

My gut feeling was right though in that as far as the IDE is concerned there are no test results so it doesn't quite integrate as expected.

Feel free to have a go if y

[2022-01-10 19:35] jcsho opened #197 "Cucumber Expression Parsing Error for Float Type"
# Setup

## Feature
[code]

## Code
[code]

# Error
[code]

Seems to work fine with the `{int}` type.

[2022-01-11 09:19] #197 closed

[2022-01-11 09:37] tyranron commented on #197
@jcsho `cargo update -p cucumber-expressions` should solve your problem now.

[2022-01-12 01:04] jcsho commented on #197
amazing! thanks for the quick fix 👍🏼

[2022-01-18 13:31] rogertorres opened #198 "Fail background skipped tests"
Currently, running a test with `fail_on_skipped()` does not fail `Background` skipped tests. The reason is because the `Background` steps are not being mapped as the steps directly under the `Scenario` are:
https://github.com/cucumber-rs/cucumber/blob/935602b2cb36be7466f96af14315fe7db03e0f84/src/writer/fail_on_skipped.rs#L92-L95
#
If that was the only thing that needed to be changed, it would be e

[2022-01-19 04:45] ilslv commented on #198
@rogertorres thanks for detailed report and diving into code!

No, this definitely was overlooked.

Actually I don't think this is an issue, because you can still use `@allow.skipped` on all `Scenario`s that are using skipped `Background`s in case you don't want them to fail. So solution you have provided should be enough.

I will happily review your PR in case it's possible or fix this myself.

[2022-01-19 11:14] rogertorres commented on #198
@ilslv This makes total sense!

I submitted a minimal PR, which I tested locally. I was wondering if it would not be a good idea to add some tests and/or a tip on the book. This is something I could do, but I would then need more time/help to really understand how you organized things there.

[2022-01-19 14:00] #198 closed

[2022-01-19 14:36] tyranron commented on #198
@rogertorres fix has been released in 0.11.2 version.

[2022-01-19 14:41] rogertorres commented on #198
@tyranron Thank you!

[2022-01-26 22:52] bbros-dev commented on #120
@tyranron my understanding is that Aruba is out of scope for Cucumber, so closing.  Reopen if that understanding is incorrect and I'll elaborate.

[2022-01-26 22:52] #120 closed

[2022-01-28 22:38] mladedav opened #200 "Wrong quickstart example in the book"
The quickstart uses this function to start the example (only the path is important here):
[code]
Then when this is converted to tokio at the end of the quickstart, that path also has a leading slash.

This does not work for me with cucumber saying `Failed to parse: Failed to parse feature: Could not read path: /tests/features/book`, however when the leading slash is deleted everything works as exp

[2022-01-31 07:54] ilslv commented on #200
@mladedav

Yeah, thats makes sense, because afaik all current maintainers are using macOS or Linux. If thats ok for you, I'll happily review your PR fixing this and maybe also adding windows target to the `test-book` CI job.

[2022-02-10 10:00] tyranron commented on #200
This has been fixed in #202 and now is tested on CI.

[2022-02-22 09:17] bbqsrc opened #206 "Inventory is no longer maintained"
- https://github.com/dtolnay/inventory is archived
- https://github.com/rust-lang/rust/issues/47384#issuecomment-1022913071 asks why this is the case, on the issue that indicates why it is likely to be the case.

This may impact Cucumber.

[2022-02-23 15:23] tyranron commented on #206
Ideally, we'll be able to remove `inventory` for our purposes, once `&mut` is allowed in `const`, so we can create a "global registry" in compile time by ourselves.

At the moment, however, it's better to look how the situation evolves, as with archiving that projects we have no similar solutions in the ecosystem.

[2022-03-08 21:09] jeromegn opened #207 "After hook is odd to work with"
I'm attempting to convert some of our automated testing to use `cucumber-rs`, but I'm finding it hard to tear down my tests.

If the last step fails, the `after` hook doesn't provide a `World` to work with. I need the `World` to get to its state and make decisions on tear down.

My `after` hook:

[code]

<img width="676" alt="image" src="https://user-images.githubusercontent.com/43325/157325390-8a

[2022-03-09 09:31] tyranron commented on #207
@ilslv please, re-check. Once the `World` is initialized, it should be available in Afker Hook.

@jeromegn another option to tear down is to do so in `Drop` for the `World`. We use such a techique a lot in out code bases, and don't use After Hook at all.

[2022-03-25 14:42] #207 closed

[2022-03-28 16:03] tyranron commented on #207
@jeromegn released in [0.12.2](https://crates.io/crates/cucumber/0.12.2).

[2022-04-10 13:06] ivanschuetz commented on #183
Late addition: this is being quite annoying in some tests I'm implementing, which have often the same `And`s after given/when/then (all 3, sometimes 2 or 1) so I've to go through every line and verify that I added all the macros (or wait for the tests to show "skipped" somewhere) + obviously the code repetition is not nice (especially when the expressions are large / complex).

See e.g. "I build a

[2022-04-10 13:10] ivanschuetz commented on #183
Oh, that's exactly the same example that I brought up initially. It can't be rewritten as tables currently and there are many other instances - guess that I'm just irritated about having had to re-run the test so many times now (which isn't quick), because it keeps finding some missing somewhere.

[2022-05-04 16:10] theredfish opened #212 "Replay failed tests"
I was wondering if it's something that we can add to the framework. We already have a function to repeat failed tests output but we don't have a function to run failed tests again. It's common to have flaky tests that sometimes can be solved by running them again.

For example :

[code]

Where 2 is the maximum number of times the tests should be run again in case of test failures. Let's say we hav

[2022-05-05 08:40] tyranron commented on #212
@theredfish I'm not sure whether it has sense. Flaky tests should not be a common thing. In our codebases we actively reworking them to remove any flakiness, because it's very hard to reason about tests when you have the one: either a test fails due to flakinees, or the test may pass due to flakiness too. So I'm somewhat against about making life easier with flaky tests instead of giving people mo

[2022-05-05 09:04] ilslv commented on #212
@theredfish I do think, that adding retries for flaky tests is a great feature to have, but I have couple concerns about proposed implementation.

In addition to specifying number of times test should be retried, I think that we should retry only tests tagged as `@flaky` or something like that, as being explicit is better that implicit here. Maybe even allow to override this value with something l

[2022-05-05 13:48] tyranron commented on #212
@ilslv okay, I see that there are enough reasons for having this feature.

Speaking of the feature design...

I think, both variants should be provided, so we have the natural tags inheritance:
- tag on a scenario enables retrying for that scenario and overwrites any other settings;
- tag on a feature enables retrying for all the scenarios of that feature;
- specifying retries on the whole runner

[2022-05-05 14:30] ilslv commented on #212
@tyranron I think that reasonable default should be rerunning `Scenario`s immediately. But it would be great to support postponed reruns or even combination of postponed and serial for really flaky ones.

[2022-05-05 15:11] tyranron commented on #212
@ilslv yup.

It also worths to mark the retried scenarios explicitly in the output, like the following:
[code]

[2022-05-05 16:43] theredfish commented on #212
Thank you for the feedback! Indeed the idea isn't to encourage to ignore flaky tests but have a way to handle them waiting for a fix.

The tag is a good idea so we offer a different granularity and an explicit.

My bad it wasn't clear enough but my example was about scenarios not steps.

I can try to implement this feature if you want ? If you're available to guide me during the development ?

[2022-05-06 06:18] ilslv commented on #212
@theredfish

Actually `Scenario`s are generally run in parallel, so there is no need for additional complexities you've described. We can just rerun failed `Scenario`s on their own.

I'll be happy to help you with development of this feature!

[2022-05-08 10:27] ilslv opened #213 "`tracing` integration"
I believe we can support better logging by integrating support for  brilliant [`tracing`][1] crate, as current solution described in #177 is quite unintuitive and requires additional setup.

We can implement custom [`tracing::Subscriber`][2] and pass `Feature`, `Scenario` and `Step` context inside [`tracing::Span`][3]. So we can retrieve this information and pass logging event as a new kind of `cu

[2022-05-10 14:27] tyranron commented on #213
@ilslv for reasoning it's slightly unclear what challenges/problems it allows us to solve? What we will be capable with it rather than without it?

[2022-05-11 15:53] tyranron commented on #213
@ilslv seems reasonable. I think we should give it a try at least.

[2022-05-19 17:37] theredfish commented on #212
I was a bit busy with other projects, I'll start to work on it :)

[2022-05-25 09:25] theredfish opened #215 "Declare CLI options as global"
I'm working with the `CustomCli` and I use cargo aliases. It would be handy to have the default cli options declared as global so we can access them via the subcommands directly.

I created a [draft example here](https://github.com/cucumber-rs/cucumber/commit/872d83bd2c5e5a651b678f3e561c47d53df67971). I introduced a subcommand `smoke` and changed the options to be global.

You can run the test `cl

[2022-05-25 10:01] ilslv commented on #215
@theredfish I'm concerned that this can lead to the issue described in https://github.com/clap-rs/clap/issues/3721. Is this the only way to let users have subcommands and provide `cucumber` default cli options? Doesn't `cargo test --package cucumber --test cli -- --fail-fast smoke --report-name "test"` work without global options now?

[2022-05-25 13:56] theredfish commented on #215
I'm not sure to see exactly what's the issue with the design even after reading the explanations? Isn't it intended to have global options accessible with or without the subcommand?

`cargo test --package cucumber --test cli -- --fail-fast smoke --report-name "test"` works perfectly indeed. But when you use cargo aliases for example, let's say `smoke`, then you don't have access to the base option

[2022-05-25 15:43] ilslv commented on #215
@theredfish thanks for a more detailed explanation! After reading it, seems like described issue shouldn't affect any users ever (and even if it does, it's just a help message after all), so I'm in favor of this feature being implemented.

[2022-05-26 10:16] #215 closed

[2022-05-26 12:07] tyranron opened #217 "Merge confusing `World` and `WorldInit` derives"
@ilslv @theredfish what about instead

[code]

to have

[code]
?

[2022-05-26 15:05] theredfish commented on #217
The second code block is much easier to read, but `#[world(init = Self::new)]` might be a bit confusing since it's optional. The user will need to carefully read the doc to know about it. But should be fine if we emphasize it.

However I'm not sure about this : `allows also async`. Isn't it necessary since the framework is "async naturally"? We use `@serial` for sync tests. What happens exactly if

[2022-05-27 11:25] ilslv commented on #217
@tyranron separation of `World` and `WorldInit` bothers me too, but I'm sure about proposed solution.
1. I don't think we'll be able to accept `#[world(init = Self::new)]`, as we don't know return type (`async` or not and `Result` or `Self`).  We've encountered similar issue in `juniper` with `Result`s.
2. I see macros as a last resort that should be used only if there is no sound way to do it in

[2022-05-27 11:48] tyranron commented on #217
@ilslv you've misunderstood the idea slightly. We don't touch `WorldInit` and `World` _traits_. They remain the same, and their separation is reasonable enough (`WorldInit` is required for `macros` feature only and one could use `World` trait amnually without bothering about `WorldInit` at all).

The idea is just to replace the `WorldInit` _derive macro_ with a little bit more clever `World` _deri

[2022-05-27 12:05] ilslv commented on #217
@tyranron I forgot, that we have `macros` as an optional feature. In that case switching `World` and `WorldInit` isn't really an option.

I've looked it up and in `juniper` we were struggling to extract the `Error` type from the `Result` and ended up delegating that to a different part of the code (using `.map_err(Into::into)` basically, as we were sure, that this trait bound is satisfied). But I'

[2022-06-16 15:21] tyranron commented on #217
@ilslv well, [that was easier](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=682f8ddcfbab9d12223f3bd5970b20e7) than I thougth it would be 🙃

[2022-06-16 15:36] tyranron commented on #194
@ilslv given #203 and #218 I think this now diserves to be implemented on our side behind a `"clion"` feature gate.

[2022-06-30 19:07] tyranron commented on #206
Not deprecated anymore: https://github.com/dtolnay/inventory/issues/32#issuecomment-1171550940

[2022-07-01 14:49] #206 closed

[2022-07-06 12:32] ilslv commented on #217
Looking at this issue again, I'm not sure whether introducing breaking change like that worth it. I see 2 alternative options:

1. Just don't assume, that missing `#[world(init = )]` means that `Default` should be used. This won't break any code, while still allowing users to opt into this feature.
2. Same as option 1, but emit diagnostic-like waring [(`tracing::instrument` does that)][1], that so

[2022-07-06 15:08] tyranron commented on #217
@ilslv it's OK to break here. We won't have `WorldInit` derive macro anymore, so users should pay attention to this anyway on upgrade.

[2022-07-07 17:56] #217 closed

[2022-07-19 12:29] ilslv commented on #212
While implementing retries for failed `Scenario`s I've stumbled upon an inconvenience in the discussed design. In case `Writer` is wrapped into a `Normalize` I expect it to wait on current `Feature`/`Rule` until all retried `Scenario`s are passed or drain out their retry attempts. While In case `retry.immediately` this works fine, for `retry.postponed` this will wait until all other `Scenario`s st

[2022-07-19 16:36] theredfish commented on #212
That's great if you can do some progress on this feature, I haven't been able to work on it since my last commit. But I can continue later if you want. Just switching between priorities for the moment.

With your current example how do you specify the number of attempts for a postponed retry? Do we remove the possibility to specify de number of attempts per `retry` tag?

Since postponed is a strat

[2022-07-19 19:20] tyranron commented on #212
@theredfish

It means [this](https://github.com/cucumber-rs/cucumber/issues/212#issuecomment-1118676320).

No, the `replay_failed_tests` just re-prints the failed scenarios at the end. So, it won't print successfully retried scenarios at all. Just those, which failed even after all the retry attempts.

--------------------

@ilslv

Well, the delay for retry is a good feature to have. And having so

[2022-07-22 06:05] ilslv commented on #212
@tyranron

Clear understanding of what's going on is a very important thing for me too, but I think the clearest way of notifying about retries is doing it the closest to the error itself. I image it something like that:

<img width="1088" alt="Screenshot 2022-07-22 at 09 03 12" src="https://user-images.githubusercontent.com/47687266/180373763-22d87bd6-e7eb-4e95-8ce7-0188c08bb9e8.png">

[2022-07-22 08:21] tyranron commented on #212
@ilslv

I don't mind.

But in case of `.after(all)` this will obviously stall the output. Hmmm... what if we output them right next to failed stet if there is no `.after` specified (immediate retries), otherwise we output them separately right when they're really executing?

[2022-07-22 12:37] ilslv commented on #212
@tyranron I think, that having 2 different behaviours for immediate and postponed retries may be confusing for the users, mostly because reasons behind it aren't obvious. Even we didn't see them through until the implementation came.

I still think, that same `Feature`/`Rule` branch is a way to go because:
1. It's easier to interpret the output.
2. Retry of the whole `Scenario` should be used as a

[2022-07-24 15:14] tyranron commented on #212
@ilslv

Why not just output them as a regular error?

So, could you sum up the whole feature design then? With the answers addressing the questions raised above in previous comments.

[2022-07-24 15:19] tyranron commented on #212
@ilslv also, it seems that we've missed how upstream implementation handles this. And it definitely should, according to [quick googling](https://stackoverflow.com/a/65944590/1828012). Worth inverstigation.

[2022-07-25 11:26] ilslv commented on #212
@tyranron out of all upstream implementations only ruby and js have support for retrying scenarios:

- [Go's godog authors think that is't a bad feature to implement](https://github.com/cucumber/godog/issues/199#issuecomment-557808499)
- [Java's version uses JUnit, so it should be handled on JUnit side of things](https://github.com/cucumber/cucumber-jvm/issues/2478#issuecomment-1025758576)

And ev

[2022-07-25 14:41] tgsmith61591 opened #224 "📚 Doc: Example of `after_hook`"
I'm having a really difficult time understanding how to add an `after_hook` to my `World` struct. Is there an example in the documentation you can point me to? [This is the closest](https://docs.rs/cucumber/latest/cucumber/struct.Cucumber.html#method.after) I can find, and the [linked source](https://docs.rs/cucumber/latest/src/cucumber/cucumber.rs.html#1102) is not too helpful either.

Assuming I

[2022-07-25 14:47] tyranron commented on #212
@ilslv

I think we should clearly output all the retry attempts and their results.

Haven't got it. What do you mean by "re-outputted"?

Yes, that's what I've thought of. But how do we resolve the issue with the stuck output in `.after(all)` situation? Ignore it? Re-bikeshed the output? Disallow `.after(all)` at all?

This implies that `.after(all)` means "after all scenarios in the feature" rathe

[2022-07-25 15:11] ilslv commented on #224
We have a [separate book chapter](https://cucumber-rs.github.io/cucumber/main/writing/hooks.html#after-hook) covering `Scenario` hooks. In your case it would look something like

[code]

[2022-07-25 15:57] ilslv commented on #212
@tyranron

Whole discussion about `re-outputting errors` is linked to [output retries as a separate branch](https://github.com/cucumber-rs/cucumber/issues/212#issuecomment-1118676320). By that I mean, that if we choose to go this route, retries can be outputted pretty far from each other, so maybe we should give users a clear idea, what went wrong on a previous run(s?).

---

Thinking more and mor

[2022-07-26 14:30] ilslv commented on #212
Discussed with @tyranron:

1. Remove `.after(all)` entirely, only `.after(3s)` is allowed.
2. Output reties inside single `Feature`/`Rule` branch.
3. Add `--retry`, `--retry-after` and `--retry-tag-filter` CLI options

---

## Detailed explanation of interactions between CLI options and tags

Let's explore how different sets of CLI options would interact with the following `Feature`:

[code]

###

[2022-08-15 07:26] github-actions[bot] opened #226 "RUSTSEC-2022-0048: xml-rs is Unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `xml-rs`                      |
| Version             | `0.8.4`                   |
| URL                 | [https://github.com/netvl/xml-rs/issues](https://github.com/netvl/xm

[2022-09-03 15:59] artgocode opened #227 "How can I provide a specific context to a specific files within crate?"
Hi!
First of all I want to thank you for the effort you put into this project. This crate is awesome!

I am now facing ambiguity issues when running my tests.
I need help to wrap my head around on how can I provide a specific context to my tests?
Under "contex" I mean the `.rs` files with `given`, `when`, `then` expressions defined for a specific `.feature` files.

I am developing a backend api ba

[2022-09-08 16:11] #212 closed

[2022-09-08 17:17] tyranron commented on #212
@theredfish released in [0.14.0](https://crates.io/crates/cucumber/0.14.0).

[2022-09-08 17:19] tyranron commented on #194
@rob-mur released in [0.14.0](https://crates.io/crates/cucumber/0.14.0).

[2022-09-09 07:11] theredfish commented on #212
Thank you very much for the hard work @ilslv @tyranron . That's a fantastic implementation!

[2022-09-12 09:28] #226 closed

[2022-09-13 14:58] Solonotix commented on #187
Note: I'm an outsider that's new to the Rust community. I just stumbled on this project because I wanted to potentially explore Rust-Cucumber as an option.

Wouldn't priority of scenario be handled by the default parsing behavior of Gherkin files? Maybe this project is different, but the default behavior is to sort steps by the feature file name (maybe file path), then the top-to-bottom order of s

[2022-09-13 16:20] tyranron commented on #187
@Solonotix this library works the following way:

1. The whole execution pipeline consists of [`Parser` -> `Runner` -> `Writer`s](https://cucumber-rs.github.io/cucumber/current/architecture/index.html).
2. The parser of Gherkin files is abstracted in the way to be just a `Stream` of parsed `Feature`s. It could be anything emitting `Feature`s, not just glob-walker over fs `.feature` files.
3. `Runn

[2022-09-14 09:56] ilslv commented on #187
@Solonotix I also would argue that `Scenario`s should be distributed across `.feature`-files based on some [domain-specific needs][1], not execution priority.

[1]: https://cucumber-rs.github.io/cucumber/current/writing/modules.html#grouping

[2022-10-12 09:30] serzhshakur opened #231 "Multiple outputs functionality is broken"
With [retrying mechanism](https://github.com/cucumber-rs/cucumber/commit/c1d919a476ebd8f87633e49d5ca2f8b647a0fce7) being introduced it is no longer possible to execute tests with [multiple outputs](https://cucumber-rs.github.io/cucumber/main/output/multiple.html).

The error is thrown by clap when trying to execute tests

[code]

I've created [an example repo](https://github.com/serzhshakur/yace)

[2022-10-12 13:58] #231 closed

[2022-10-12 16:20] tyranron commented on #231
@serzhshakur fixed in #232, released in [0.15.1](https://github.com/cucumber-rs/cucumber/releases/tag/v0.15.1).

[2022-10-12 19:06] serzhshakur commented on #231
Oh, that was really fast! Thank you very much indeed!

[2022-10-18 00:36] GoooIce commented on #106
The vscode cucumber plugin now supports https://github.com/cucumber/vscode

[2022-10-18 07:13] tyranron commented on #106
I guess we can close this now. Despite being [a controversial feature](https://github.com/cucumber-rs/cucumber/issues/106#issuecomment-948560104), it really feels like a responsibility of external tooling, rather than Cucumber itself.

Feel free to reopen, if there will be much demand of this.

[2022-10-18 07:13] #106 closed

[2022-10-21 15:47] ms-ati opened #235 "How to write and publish reusable steps?"
Hi! I am working on a port of [cucumber/aruba](https://github.com/cucumber/aruba) to `cucumber-rs`. Aruba, written in Ruby, provides a super useful set of Step Definitions and tools for testing command-line applications.

I have some questions! 😄

**How can a `dev-dependency` library publish reusable Step Definitions?**

The challenge: the design of `cucumber-rs` is to require a concrete struct th

[2022-11-03 18:39] stepantubanov opened #241 "Hangs when used with fail-fast option"
I think there may be a bug with `--fail-fast` behavior. I'm assuming it should force cucumber to exit on first failure. Instead I'm seeing step failure (as expected) and afterwards it just hangs (doesn't exit, seems to be stuck in an infinite loop somewhere).

[code]

[code]

Cargo.toml:
[code]

And run like this: `cargo test --test scenarios -- --fail-fast`

[2022-11-09 14:37] tyranron commented on #241
The problem why this hangs is [this change](https://github.com/cucumber-rs/cucumber/commit/c1d919a476ebd8f87633e49d5ca2f8b647a0fce7#diff-7cdd8dcb3b6d6d5155c767874d63aa47e2c6d97e19ca0b598bedcc6389be9a1eR2073) which makes [`is_finished` evaluate to `true` when `fail_fast` happens, so we never exit the execution loop](https://github.com/cucumber-rs/cucumber/blob/v0.15.3/src/runner/basic.rs#L923-L925)

[2022-11-09 16:58] #241 closed

[2022-11-09 17:54] tyranron commented on #241
@stepantubanov released in [0.16.0](https://crates.io/crates/cucumber/0.16.0).

[2022-11-14 20:15] ms-ati opened #243 "Can't run World defined in library in 0.16.0"
Hi all! I'm seeing breakage in 0.16.0

On your end, are you still able to use the approach documented here:
https://github.com/cucumber-rs/cucumber/discussions/236#discussioncomment-3947943

Specifically, with Cucumber 0.16.0, I get the error:

But the use statement is still there, getting warned as unused:

[2022-11-14 20:18] ms-ati commented on #243
Nevermind -- this error arises when the **library of steps** was at `cucumber = "0.15.1"` but the project using the library in tests was at 0.16.0. Thank you!

[2022-11-14 20:18] #243 closed

[2022-11-14 21:27] ms-ati opened #244 "How to run code when any scenario fails?"
Hi! I am trying to use `::after` hook or find other means, to cause some code to run when a `Scenario` fails.

In particular -- I'd like, optionally, to have a per-Scenario temporary directory **not be deleted** when the test fails, so that it is possible for the user to examine the contents of the temp dir.

[2022-11-26 12:34] ikkerens opened #247 "Unable to compile on stable rust release channel"
Recently I've started running into the issue causing me to be unable to compile this library for my tests, with the following error:
[code]

Looking into this particular dependency, cucumber-rs seems to be the only dependant:
[code]

This issue has occured since at least cucumber-rs 0.15, I have not tested with even earlier releases.
I am running the latest rust, as of writing:
`stable-aarch64-app

[2022-11-26 14:07] ilslv commented on #247
@ikkerens have you tried running `cargo clean` and recompiling?

[2022-11-26 14:16] ikkerens commented on #247
Huh, did not expect that'd work since I am was running it on a different device as well, but it did.

cargo clean seems to have resolved the issue, thanks!

[2022-11-26 14:16] #247 closed